<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <textarea id="txtContent"></textarea>
        </div>
        <div class="form-group text-right">
            <button class="btn btn-dark" id="btnSave">Save</button>
        </div>
    </div>
</div>
<script>
    var getWebsiteContent = new Promise((resolve, reject) => {
        preloader.load();
        $.post('/Admin/GetWebsiteContectAsync').done(result => resolve(result)).fail(xhr => {
            an.title = 'Oops';
            an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
            an.alert(an.type.failed);
            reject(xhr)
        }).always(() => preloader.remove());
    });

    Q.htmlEditor({
        customeDropdown: {
            enable: true,
            dropdownOption: [{ text: 'Select key', value: '0' },
            { text: 'Slider', value: 'slider' },
            { text: 'About us', value: 'aboutUs' },
            { text: 'Bank Details', value: 'bankDetail' },
            { text: 'Contact us', value: 'contactUs' },
            { text: 'Why Choose us', value: 'whyChooseUS' },
            { text: 'Chat Script', value: 'chatScript' },
            { text: 'Our Services', value: 'serviceDetail' },
            { text: 'Map', value: 'map' }],
            onselect: function () {
                let selectedValue = this.value();
                console.log(selectedValue);
                $('#hdSection').remove();
                $('body').append('<input type="hidden" value="' + selectedValue + '" id="hdSection"/>');
                console.log($('#hdSection'));
                getWebsiteContent.then(function (result) {
                    console.log(result);
                    tinyMCE.activeEditor.setContent(result[selectedValue]);
                });
            }
        }
    });

    $('#btnSave').click(function () {
        debugger
        preloader.load();
        let req = {
            section: $('#hdSection').val(),
            content: tinyMCE.get('txtContent').getContent()
        }

        if (req.section === 'slider') {
            req.content = req.content.replace('<p>', '').replace('</p>', '');
        }
        $.post('/Admin/UpdateWebsiteContentAsync', req)
            .done(result => {
                an.title = result.statuscode == an.type.success ? "Well done" : "Oops! Error";
                an.content = result.msg;
                an.alert(result.statuscode);
            })
            .fail(xhr => {
                an.title = 'Oops';
                an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                an.alert(an.type.failed);
            })
            .always(() => preloader.remove());
    })
</script>