@{
    Layout = "_LayoutSiteAdmin";
}
<div class="Banner-part">
    <img src="siteadmin/images/about-banner.jpg" alt="About-banner">
    <div class="container">
        <div class="bread-crumb-main">
            <div class="bread">
                <h2>ABOUT US</h2>
                <div class="left-bread">
                    <a href="/"><i class="fa fa-angle-double-left" aria-hidden="true"></i>home</a>
                </div>
                <div class="right-bread">
                    <a href="/servicedetail" class="active">services<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div> <!-- bread -->
        </div> <!-- bread-crumb-main -->
    </div>
</div> <!-- Banner-part -->
<section class="service-box-col">
    <div class="container">
        <div class="heading-service-col wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="text-center col-sm-12">
                    <h2>See more about our company</h2>
                </div>
            </div>
        </div> <!-- heading-feature -->
        <div class="row">
            <div class="col-md-6 col-sm-7 col-xs-12 service-boxes-col wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-boxes-left">
                    <div class="service-boxes-icon">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </div>
                    <div class="service-boxes-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <div class="service-boxes-icon">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="service-boxes-right">
                    <h5>Company Overview</h5>
                    <p>Mieux Infacon Ltd is India's No. 1 recharge site that delivers next generation instant online pre-paid recharge solutions to end users. Conceived to deliver a simplified recharge experience online, Mieux Infacon Ltd has been the front runner in this domain. It has secured direct relationships with service providers and has singularly focused on investing in developing a strong technical backbone to make the recharge experience reliable, secure, intuitive and seamless for the end user. </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-5 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="javascript:;"><img src="siteadmin/images/company-img.jpg" alt=""></a>
            </div>
        </div>
    </div>
</section> <!-- service-box-main -->
<section class="feature-box-main">
    <div class="container">
        <div class="heading-feature wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="text-center col-sm-12">
                    <h2>Some Features</h2>
                    <p>We provides a variety of services such as recharge services, travel portals, recharge and travel API services, white labels, long code and bulk SMS services. Our team of qualified experts believe in quality services, which we deliver through unmatchable standards in our services.</p>
                </div>
            </div>
        </div> <!-- heading-feature -->
        <div class="feature-boxes-row">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 feature-boxes wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="feature-boxes-left">
                        <div class="feature-boxes-icon">
                            <img src="siteadmin/images/search.png" alt="">
                        </div>
                    </div>
                    <div class="feature-boxes-right">
                        <h2><a href="javascript:;">POS</a></h2>
                        <p>The purpose of offer (POS) or purpose of procurement (POP) is the time and place where a retail exchange is finished. It is additionally the time when a client makes an installment to the shipper in return for merchandise or after arrangement of an administration.</p>
                    </div> <!-- service-boxes-right -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 feature-boxes wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="feature-boxes-left">
                        <div class="feature-boxes-icon">
                            <img src="siteadmin/images/analystic.png" alt="">
                        </div>
                    </div>
                    <div class="feature-boxes-right">
                        <h2><a href="javascript:;">AEPS</a></h2>
                        <p>Aadhaar Enabled Payment System (AEPS) is a sort of installment framework that depends on the Unique Identification Number and permits Aadhaar card holders to consistently make money related exchanges through Aadhaar-based confirmation.</p>
                    </div> <!-- service-boxes-right -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 feature-boxes wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="feature-boxes-left">
                        <div class="feature-boxes-icon">
                            <img src="siteadmin/images/globe.png" alt="">
                        </div>
                    </div>
                    <div class="feature-boxes-right">
                        <h2><a href="javascript:;">DMT</a></h2>
                        <p>The best way to exchange cash from India to Nepal. You can discover a ton of hypothetical materials including RBI Guidelines on Indo-Nepal Remittance yet the ground the truth is unique. It has enhanced throughout the years and following three techniques!</p>
                    </div> <!-- service-boxes-right -->
                </div>
            </div>
        </div> <!-- feature-boxes-row -->
    </div>
</section> <!-- feature-box-main -->
<section class="check-website">
    <div class="check-point parallax" data-speed="4" data-type="background" data-start-at="bottom" style="margin-bottom:60px;">
        <div class="container">
            <h2>Business Approach</h2>
            <p>Executing and analysing business always requires a cognitive approach. At Cellmoney, we believe in promising and delivering only the best to our customers. With us in charge, there will be no shortage of business plan layouts, followed by both proactive and reactive methods to keep the business on its toes. We believe that the better we understand our clients’ business, the easier it is to beat competition. Our aim is to beat competition with unique but effective solutions that will ensure our customers’ business is always on top.</p>
        </div>
    </div> <!-- check-point -->
</section>
<section class="partner-box-main">
    <div class="container">
        <div class="heading-partner wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="text-center col-sm-12">
                    <h2>Operators</h2>
                </div>
            </div>
        </div> <!-- heading-price -->
    </div>
    <div class="partner-symbol">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 partner-brand">
                <div class="brand-logos">
                    <a href="javascript:;"><img src="siteadmin/images/logo1.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 partner-brand">
                <div class="brand-logos">
                    <a href="javascript:;"><img src="siteadmin/images/logo2.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 partner-brand">
                <div class="brand-logos">
                    <a href="javascript:;"><img src="siteadmin/images/logo3.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 partner-brand">
                <div class="brand-logos">
                    <a href="javascript:;"><img src="siteadmin/images/logo4.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div> <!-- partner-symbol -->
</section> <!-- case-box-main -->