@{
    Layout = "_LayoutSiteAdmin";
}
<div class="Banner-part">
    <img src="siteadmin/images/service-banner.jpg" alt="About-banner">
    <div class="container">
        <div class="bread-crumb-main">
            <div class="bread">
                <h2>Our SERVICE </h2>
                <div class="left-bread">
                    <a href="/aboutus"><i class="fa fa-angle-double-left" aria-hidden="true"></i>ABOUT US</a>
                </div>
                <div class="right-bread">
                    <a href="servicedetail" class="active">Our Services<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <!-- bread -->
        </div>
        <!-- bread-crumb-main -->
    </div>
</div>
<!-- Banner-part -->
<section class="services-page-section" style="margin-bottom: 90px;">
    <div class="container">

        <div class="text-center">
            <ul class="nav nav-pills bg-info padTB10 text-white marL0">
                <li class="active"><a data-toggle="tab" href="#home">POS</a></li>
                <li><a data-toggle="tab" href="#menu1">AEPS</a></li>
                <li><a data-toggle="tab" href="#menu2">Indo Nepal Money Transfer</a></li>
                <li><a data-toggle="tab" href="#menu3">Prepaid Card</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3 class="text-center padTB10"><b>POS - Point of Sale</b></h3>
                <p>We have a solid arrangement of POS administrations, which enables clients to effectively pick and pick the coveted administrations for meeting their business destinations. With POS arrangement, administration and exchange handling administrations, we give redid answers for monetary foundations and its dealer clients.</p>

                <p>In the event that you are hoping to manufacture a Merchant Network or on the off chance that you have vendors that need POS Terminals‚ then you have gone to the correct place. We can be your optimal accomplice in your undertaking to construct a card obtaining system. Our administrations are composed into 3 fundamental classifications which just put makes us .</p>
                <p>1- A National Deployer, which implies we can convey POS for you the nation over.</p>
                <p>2- A Service Provider‚ which implies we can give you benefits, which are not centre to your keeping money business but rather basic for the administration of the POS organize.</p>
                <p>3- A Transaction Processor‚ which implies we can give you innovation answers for interface POS to a switch‚ associate with national and worldwide systems and furnish you with back-office instruments for administration of the system.</p>
                <p>The purpose of offer (POS) or purpose of procurement (POP) is the time and place where a retail exchange is finished. At the purpose of offer, the trader ascertains the sum owed by the client, demonstrates that sum, may set up a receipt for the client (which might be a money enroll printout), and shows the alternatives for the client to make instalment. It is additionally the time when a client makes an installment to the shipper in return for merchandise or after arrangement of an administration. In the wake of getting installment, the trader may issue a receipt for the exchange, which is generally printed yet is progressively being abstained from or. The purpose of offer is frequently alluded to as the purpose of administration since it isn't only a state of offer yet in addition a state of return or client arrange. POS terminal programming may likewise incorporate highlights for extra usefulness, for example, stock administration, CRM, financials, or warehousing.</p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3 class="text-center padTB10"><b>AEPS - Aadhaar Enabled Payment System</b></h3>
                <p>Aadhaar Enabled Payment System (AEPS) is a sort of installment framework that depends on the Unique Identification Number and permits Aadhaar card holders to consistently make money related exchanges through Aadhaar-based confirmation. The AEPS framework plans to enable all areas of the general public by making budgetary and saving money administrations accessible to all through Aadhaar. AEPS is only an Aadhaar-empowered installment framework through which you can exchange reserves, influence installments, to store money, influence withdrawals, to make enquiry about bank adjust, and so forth. AEPS enables clients to make installments utilizing their Aadhaar number and by giving Aadhaar confirmation at purpose of Sale (PoS) or smaller scale ATMs . This is a straightforward, secure and easy to understand stage for money related exchanges. This is another activity taken by the National Payments Corporation of India (NPCI) to empower cashless exchanges in India.</p>
                <p><b>Cellmoney</b> is one of the best company which provides you API for AEPS. By integrating the Aadhaar Enabled Payment System you API in your portal you can able to transfer funds using your aadhaar detail.</p>
                <p>The main information sources required for a client to complete an exchange under this situation are:-</p>
                <ul>
                    <li>IIN (Identifying the Bank to which the client is related)</li>
                    <li>Aadhaar Number</li>
                    <li>Unique mark caught amid their enlistment</li>
                </ul>
                <h3>AEPS - Aadhaar Enabled Payment System</h3>
                <ul>
                    <li>To empower a bank customer to use Aadhaar as his/her identity to access his/ her respective Aadhaar enabled bank account and perform basic banking transactions like cash deposit, cash withdrawal, Intrabank or interbank fund transfer, balance enquiry and obtain a mini statement through a Business Correspondent</li>
                    <li>To sub-serve the goal of Government of India (GoI) and Reserve Bank of India (RBI) in furthering Financial Inclusion.</li>
                    <li>To sub-serve the goal of RBI in electronification of retail payments.</li>
                    <li>To enable banks to route the Aadhaar initiated interbank transactions through a central switching and clearing agency.</li>
                    <li>To facilitate disbursements of Government entitlements like NREGA, Social Security pension, Handicapped Old Age Pension etc. of any Central or State Government bodies, using Aadhaar and authentication thereof as supported by UIDAI.</li>
                    <li>To facilitate inter-operability across banks in a safe and secured manner.</li>
                    <li>To build the foundation for a full range of Aadhaar enabled Banking services.</li>
                </ul>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3 class="text-center padTB10"><b>Indo Nepal Money Transfer</b></h3>
                <p>Indo-Nepal Remittance Facility is a cross-fringe settlement plan to exchange stores from India to Nepal, empowered under the NEFT Scheme. The plan was propelled to give a safe and cost-effective road to transient Nepalese specialists in India to transmit cash back to their families in Nepal. A remitter can exchange subsidizes up to Indian Rupees 50,000 (most extreme admissible sum) from any of the NEFT-empowered branches in India. The recipient would get supports in Nepalese Rupees.</p>
                <p>The best way to exchange cash from India to Nepal. You can discover a ton of hypothetical materials including RBI Guidelines on Indo-Nepal Remittance yet the ground the truth is unique. It has enhanced throughout the years and following three techniques are the best ones!</p>
                <p>1.Exchange of cash from Punjab National Bank (any Indian branch) to Everest Bank Limited, Nepal Since PNB is an administration bank, it may not enable you to exchange cash on the off chance that you don't have financial balance with it. From the down to earth perspective, you need a financial balance with PNB and you can request that they exchange cash to Nepal. It's simple, dependable and powerful.</p>
                <p>2. Exchange of cash from State Bank of India (any Indian branch of SBI) to ANY bank in Nepal with SWIFT Code.</p>
                <p>The Process is same like that with PNB. Since SBI is additionally an administration bank, it may not enable you to exchange cash in the event that you don't have financial balance with it. From the down to earth perspective, you need a financial balance with SBI and you can request that they exchange cash to Nepal. It's simple, dependable and compelling.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3 class="text-center padTB10"><b>Prepaid Card</b></h3>
                <p>A prepaid card is altogether different from a financial balance platinum card. A financial balance charge card is connected to your financial records. A prepaid card isn't connected to a financial records. Rather, you are burning through cash you stacked onto the prepaid card ahead of time.</p>
                <p>Much of the time, you can't spend more cash than you have officially stacked onto your prepaid card. Overspending can happen with a financial records for a few kinds of employments, and with a ledger charge card in the event that you have opted in to your banks overdraft program. This implies your bank may charge you an expense for taking care of the expense of a buy or ATM withdrawal that surpasses what you have in your record. Your bank will likewise expect you to reimburse the overdraft.</p>
                <p>What's more, at this moment prepaid cards may have less buyer securities than check cards, for example, those that apply if the card is lost, stolen, or other unapproved charges show up.</p>
            </div>
        </div>
        <style type="text/css">
        </style>

    </div>
</section>
<!-- services-page-section -->
<!-- service-pattern -->
<hr />