@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" type="image/png" href="website-assets/img/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <title>Error:PageNotFound</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">
    <link rel='stylesheet' href='~/Shopping/css/bootstrap/bootstrap.min.css'>
    <link href="~/Shopping/css/font-awesome.min.css" />
    <link href="~/Shopping/css/font-awsome.css" rel="stylesheet" />
    <link href="~/Shopping/css/main.css" rel="stylesheet" />
    <style type="text/css">
        .error-404 {
            padding: 60px 0;
        }

            .error-404 .error-content h2 {
                padding: 0;
                font-size: 48px;
                font-weight: 600;
                margin-bottom: 20px;
            }

        .error-btn .btn {
            background: #ff9300;
            border-color: #ff9300;
            padding: 8px 50px;
            color: #fff;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <main id="maincontent" class="page-main container lala">
            <section class="error-404 text-center">
                <div class="container">
                    <div class="erorr-img">
                        <img src="/Shopping/img/404.png" alt="404-page">
                    </div>
                    <div class="error-content">
                        <h4>Page not found</h4>
                        <h2>Nothing To See Here!</h2>
                        <p>The page you are looking for has been moved or doesn’t exist anymore.</p>
                    </div>
                    @*<div class="error-btn">
                        <a class="btn" href="index.html">Go Home</a>
                    </div>*@
                </div>
            </section>
        </main>
    </div>
</body>

</html>


