@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Privacy Policy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <style type="text/css">
        .outter-section {
        }

            .outter-section h2 {
                font-size: 25px;
                padding: 10px 0;
            }

            .outter-section p {
                font-size: 13px;
                padding: 0;
                line-height: 20px;
            }

                .outter-section p span {
                    font-size: 12px;
                    font-weight: 600;
                }

            .outter-section h4 {
                font-size: 17px;
                font-weight: 600;
            }

        .cusnav-brand img {
            width: 180px
        }

        .outter-section .cusnavbar {
            background-color: #4CAF50;
            padding: 0;
        }

        .footer-sec {
            background: #673AB7;
            padding: 0.7rem;
        }

            .footer-sec p {
                text-align: center;
                margin-bottom: 0;
                color: #fff;
                font-size: 13px;
            }
    </style>
</head>
<body>
    <div class="outter-section">
        <nav class="navbar navbar-expand-sm navbar-dark cusnavbar">
            <!-- Brand/logo -->
            <div class="container">
                <a class="navbar-brand cusnav-brand" href="#"><img src="~/Image/Website/1/logo.png"></a>
            </div>
        </nav>
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <footer class="footer-sec">
        
    </footer>
</body>
</html>

