@model RoundpayFinTech.AppCode.Model.ROffer.RoundpayDTHHeavyRefresh
<div class="row">
    <div class="col-md-12">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3>DTH Heavy Refresh</h3>
        <hr />
    </div>
    @if (@Model.Records != null)
    {
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="scroll-content">
            @if (@Model.Records.Desc == null)
            {
                <p>No Details Found</p>
            }
            else
            { 
                <p>@Model.Records.Desc</p>
            }
        </div>
    </div>
    }
    else
    {
    <h1 class="text-danger">Oops no record found!</h1>
    }
</div>
