<!--public e services operator list-->
@model IEnumerable<RoundpayFinTech.AppCode.Model.ProcModel.OperatorDetail>

<link href="~/lib/bootstrap/dist/css/bootstrap-select.css" rel="stylesheet" />

<div class="container">
    @if (Model != null && Model.Count() > 0)
    {
        <div class="row">
            <div class="col-md-2">
                <div class="h6 mt-2">Select E-Service :</div>
            </div>
            <div class="col-md-3 form-group">
                @{
                    var pService = Model.Where(x => x.IsActive == false).OrderByDescending(p => p.Name);
                    var list = new SelectList(pService, "OID", "Name");
                }
                <select class="selectpicker" data-live-search="true" id="ddlop" asp-items="@list" aria-describedby="nameOperator">
                    <option value="0">--Select-E-Service</option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-2">
                        <div class="input-group-prepend">
                            <button class="btn input-group-text btn-info btn-sm" id="btnShowForm">
                                <i class="fas fa-eye mr-2"></i>
                                Show Form
                            </button>
                            <button class="btn input-group-text btn-success btn-sm" id="btnShowField">
                                <i class="fas fa-eye mr-2"></i>
                                Fields
                            </button>
                            <button class="btn input-group-text btn-warning btn-sm" id="AddFieldModal">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-2">
                        <div class="input-group-prepend">
                            <button class="btn input-group-text btn-danger btn-sm" id="btnVocab">
                                <i class="fas fa-eye mr-2"></i>
                                Vocabs
                            </button>
                            <button class="btn input-group-text btn-dark btn-sm" id="AddVocabModal">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>