@model bool;
@{
    ViewData["Title"] = "User Daybook";
    var MobileNo = ViewBag.MobileNo ?? "";
}

<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i>@ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">User Report</li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </div>
</div>
<div class="main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-header bg-gradientorange text-white">
                        <i class="fas fa-link"></i> BBPSComplain Report
                    </div>
                    <div class="card-body" style="">
                        <div class="row">
                            @if (!Model)
                            {
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <label class="lbl" for="txtTranID">TransactionID</label>
                                        <input aria-describedby="txtTranID" class="form-control" id="txtTranID" tabindex="5" type="text" placeholder="Enter TransactionID" value="" />
                                        <small id="Small3" class="form-text text-muted d-none"></small>
                                    </div>
                                </div>
                            }
                            @*<div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="lbl" for="dtFromDate">From Date</label>
                                    <input aria-describedby="dtFromDate" class="form-control" id="dtFromDate" tabindex="5" type="text" readonly="readonly" />
                                    <small id="Small3" class="form-text text-muted d-none"></small>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="lbl" for="dtToDate">To Date</label>
                                    <input aria-describedby="dtsToDate" class="form-control" id="dtToDate" tabindex="5" type="text" readonly="readonly">
                                    <small id="dtsToDate" class="form-text text-muted d-none"></small>
                                </div>
                            </div>*@
                            @*<div class="col-md-1 col-sm-1 col-xs-1">
                                <div class="form-group">
                                    <label class="text-white" for="btnExport">btnSearch</label>
                                    <button id="btnSearch" tabindex="8" class="btn btn-outline-dark">Search</button>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <div class="form-group">
                                    <label class="text-white" for="btnExport">btnExport</label>
                                    <span class="btn btn-outline-success far fa-file-excel" style="font-size:20px;" id="btnExport"></span>
                                </div>
                            </div>*@
                        </div>
                        <div class="table-responsive table-sm">
                            <table class="table table-bordered table-striped table-responsive-sm" id="tblBBPSReport">
                                <thead class="bg-tableth">
                                    <tr>
                                        <th>#</th>
                                        @*<th>User</th>*@
                                        <th>API</th>
                                        <th>Complaint Type</th>
                                        <th>Complaint Against</th>
                                        <th>Complaint Type ID</th>
                                        <th>Complaint ID</th>
                                        <th>Complaint Date</th>
                                        <th>Status</th>
                                        <th>Remark</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @*<script src="~/lib/jquery/dist/moment.min.js"></script>
    <script src="~/lib/bootstrap/calendar/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src*@="~/js/datepickerHelper.js"></script>
    <script>
        $(document).ready(function () {
            an.autoClose = 5;
            bindRaisedComplaintsList();
        });
        var bindRaisedComplaintsList = () => {
            preloader.load();
            $.post('/bbps-complain-report')
                .done(function (result) {
                    $("#tblBBPSReport tbody").html(result);
                    $("#tblBBPSReport tbody .btnTrackComplaint").unbind().on("click", function () {
                        preloader.load();
                        $.post('/track-bbps-complain', { TableID: $(this).parents("tr").data().itemId })
                            .done(function (result) {
                                mdlA.id = 'mdlReqResp';
                                mdlA.content = result;
                                mdlA.options.backdrop = 'static';
                                mdlA.alert(mdlA.size.default);
                                $('button.close span,#mdlCancel').unbind().click(() => mdlA.dispose());
                            })
                            .catch(function (xhr, e, msg) {
                                an.title = 'Oops';
                                an.content = 'An error has been occured during request.Reload again!'
                                an.alert(an.type.failed);
                            })
                            .fail(function (xhr) {
                                if (xhr.status == 500) {
                                    an.title = 'Oops';
                                    an.content = 'Server error';
                                    an.alert(an.type.failed);
                                }
                                if (xhr.status == 0) {
                                    an.title = 'Oops';
                                    an.content = 'Internet Connection was broken';
                                    an.alert(an.type.failed);
                                }
                            })
                            .always(function () {
                                preloader.remove();
                            });
                    })
                })
                .catch(function (xhr, e, msg) {
                    an.title = 'Oops';
                    an.content = 'An error has been occured during request.Reload again!'
                    an.alert(an.type.failed);
                })
                .fail(function (xhr) {
                    if (xhr.status == 500) {
                        an.title = 'Oops';
                        an.content = 'Server error';
                        an.alert(an.type.failed);
                    }
                    if (xhr.status == 0) {
                        an.title = 'Oops';
                        an.content = 'Internet Connection was broken';
                        an.alert(an.type.failed);
                    }
                })
                .always(function () {
                    preloader.remove();
                });
        }
        

    </script>
    @if (ApplicationSetting.IsCircleSlabShow)
    {
        <script>
            var Circle = function (i) {
                var m = $('#txtM').val();
                m = m == undefined || m == null ? '' : m;
                var fd = $('#dtFromDate').val();
                var td = $('#dtToDate').val();

                btnLdr.addClass = 'btn-dark';
                btnLdr.removeClass = 'btn-outline-dark';
                btnLdr.Start($("#btnSearch"), 'Requesting');

                preloader.load();
                $.post('/u-day-book-C', { fd, td, m, i })
                    .done(function (result) {
                        resultReload(result);
                        mdlA.id = "udaybooki";
                        mdlA.content = result;
                        mdlA.options.backdrop = 'static';
                        mdlA.alert(mdlA.size.default);
                        $('button.close span').click(() => mdlA.dispose());
                    })
                    .catch(function (xhr, e, msg) {
                        an.title = 'Oops';
                        an.content = 'An error has been occured during request.Reload again!'
                        an.alert(an.type.failed);
                    })
                    .fail(function (xhr) {
                        if (xhr.status == 500) {
                            an.title = 'Oops';
                            an.content = 'Server error';
                            an.alert(an.type.failed);
                        }
                        if (xhr.status == 0) {
                            an.title = 'Oops';
                            an.content = 'Internet Connection was broken';
                            an.alert(an.type.failed);
                        }
                    })
                    .always(function () {
                        preloader.remove();
                        btnLdr.Stop($('#btnSearch'));
                    });
            };
        </script>
    }
}

