@{
    ViewData["Title"] = "Users";

}
<style>
    select {
        width: 100% !important;
    }
</style>
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">User Management</li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </div>
</div>
<div class="__p main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-header bg-gradientorange text-white" style="line-height:39px;">
                        <i class="fas fa-link"></i> @ViewData["Title"]
                        <div class="float-right">
                            <span class="input-group-text switch switch-sm bg-white align">
                                <input type="checkbox" class="switch" id="IsViewed" />
                                <label for="IsViewed" class="font-weight-bold lbl">Not Viewed</label>
                            </span>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="lbl" for="dtFromDate">From Date</label>
                                    <input aria-describedby="dtsFromDate" class="form-control" id="dtFromDate" tabindex="4" type="text" readonly="readonly">
                                    <small id="dtsFromDate" class="form-text text-muted d-none"></small>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="lbl" for="dtToDate">To Date</label>
                                    <input aria-describedby="dtsToDate" class="form-control" id="dtToDate" tabindex="5" type="text" readonly="readonly">
                                    <small id="dtsToDate" class="form-text text-muted d-none"></small>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label class="lbl" for="ddlCriteria">Choose Criteria</label>
                                    <select class="form-control" id="ddlCriteria" aria-describedby="roleHelp">
                                        <option value="0">:: Choose Criteria ::</option>
                                        <option value="1">User ID</option>
                                        <option value="2">User Mobile</option>
                                        <option value="3">Introducer ID</option>
                                        <option value="4">Introducer Mobile</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="lbl" for="txtSearch">Enter Criteria Text</label>
                                    <div class="input-group">
                                        <input class="form-control" id="txtSearch" name="txtSearch" placeholder="Criteria Text" type="text" />
                                        <div class="input-group-append">
                                            <button id="btnSearch" tabindex="8" class="btn btn-outline-dark">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-responsive-sm" id="tbluserList">
                                <thead class="bg-tableth">
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            <input type="checkbox" id="chkAllMark" class="d-none" />
                                            <label for="chkAllMark"><i class='fa fa-eye'></i></label>
                                        </th>
                                        <th>Name</th>
                                        <th>Role</th>
                                        <th>Outlet</th>
                                        <th>Mobile</th>
                                        <th>EmailID</th>
                                        <th>Balance</th>
                                        <th>Pincode</th>
                                        <th>Introducer</th>
                                        <th>Joining Date</th>
                                        <th>Modify Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery/dist/moment.min.js"></script>
    <script src="~/lib/bootstrap/calendar/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/datepickerHelper.js"></script>
    <script>
        $(document).ready(function () {
            var FDate = DTPicker($('#dtFromDate'), new Date().toDateString(), function () { }, function () {
                $('dp').addClass('d-none');
                var fdate = new Date($('#dtFromDate').val()), fy = fdate.getFullYear(), fm = fdate.getMonth();
                var lastDay_f = new Date(fy, fm + 1, 0);

                var tdate = new Date($('#dtToDate').val()), ty = tdate.getFullYear(), tm = tdate.getMonth();

                if (fdate > tdate) {
                    $('#dtToDate').val($('#dtFromDate').val());
                } else {
                    if (fy == ty) {
                        var curDate = new Date(moment(new Date()).format('D MMM YYYY')), cm = curDate.getMonth();
                        if (cm == fm) {
                            if (curDate == fdate && fdate != tdate) {
                                $('#dtToDate').val(moment(curDate).format('D MMM YYYY'));
                            } else if (fdate < curDate) {
                                curDate = curDate.setDate(curDate.getDate() - 1)
                                $('#dtToDate').val(moment(curDate).format('D MMM YYYY'));
                            }
                        }
                        else if (tm > fm) {
                            $('#dtToDate').val(moment(lastDay_f).format('D MMM YYYY'));
                        }
                    } else if (fy < ty) {
                        $('#dtToDate').val(moment(lastDay_f).format('D MMM YYYY'));
                    }
                }
            });
            var TDate = DTPicker($('#dtToDate'), new Date().toDateString(), function () { }, function () {
                $('dp').addClass('d-none');
                var fdate = new Date($('#dtFromDate').val()), fy = fdate.getFullYear(), fm = fdate.getMonth();

                var tdate = new Date($('#dtToDate').val()), ty = tdate.getFullYear(), tm = tdate.getMonth();
                var firstDay_t = new Date(ty, tm, 1);

                var curDate = new Date(moment(new Date()).format('D MMM YYYY'));

                if (curDate.toString() == tdate.toString()) {
                    $('#dtFromDate').val(moment(curDate).format('D MMM YYYY'));
                }
                else if (fdate > tdate) {
                    $('#dtFromDate').val($('#dtToDate').val());
                } else {
                    if (fy == ty) {
                        if (tm > fm) {
                            $('#dtFromDate').val(moment(firstDay_t).format('D MMM YYYY'));
                        }
                    } else if (fy < ty) {
                        $('#dtFromDate').val(moment(firstDay_t).format('D MMM YYYY'));
                    }
                }
            });
            an.autoClose = 5;
            _bindGrid();
            $('#btnSearch').click(function () {
                var param = {
                    CommonInt: $('#ddlCriteria').val(),
                    CommonStr: $('#txtSearch').val(),
                    CommonBool: $('#IsViewed').is(':checked'),
                    CommonStr3: $("#dtFromDate").val(),
                    CommonStr4:$("#dtToDate").val()
                };
                _bindGrid(param);
            })
            $('#IsViewed').change(function () {
                $('label[for="IsViewed"]').text($(this).is(':checked') == true ? "Viewed" : "Not Viewed")
                var param = {
                    CommonBool: $(this).is(':checked'),
                    CommonStr3: $("#dtFromDate").val(),
                    CommonStr4: $("#dtToDate").val()
                };
                _bindGrid(param)
            })

            $('#chkAllMark').click(function () {
                preloader.load();
                var _length = $('.__p tbody tr').length;
                var _loopCount = 0;
                $('.__p tbody tr').each(function (i) {
                    if ($(this).find('input[type="checkbox"]').index() > -1) {
                        _updateViewedStatus($(this).data().userId, 1);
                    }
                    _loopCount = i;
                });
                if (_loopCount == _length-1) {
                         $('#btnSearch').click();
                    }

                preloader.remove();
            })
        });

        var _bindGrid = function (param) {
            preloader.load();
            $.post('/_Get-Users-List', param).done(function (result) {
                $('.__p tbody').html(result);
                $('.chkAsViewed').click(function () {
                    if ($(this).prop('checked')) {
                        _updateViewedStatus($(this).closest('tr').data().userId);
                    }
                })
            }).catch(function (xhr, ex, message) {
                an.title = 'Oops';
                an.content = message;
                an.alert(an.type.failed);
                an.autoClose = 2;
            }).fail(function (xhr) {
                if (xhr.status == 500) {
                    an.title = 'Oops';
                    an.content = 'Server error';
                    an.alert(an.type.failed);
                }
                if (xhr.status == 0) {
                    an.title = 'Oops';
                    an.content = 'Internet Connection was broken';
                    an.alert(an.type.failed);
                }
            }).always(function () {
                preloader.remove();
            });
        }

        var _updateViewedStatus = function (userID,IsAll) {
            $.post('_update-IsViewd', { UserID: userID }).done(function (result) {
                an.title = result.statusCode == -1 ? "Oops" : "Success";
                an.content = result.msg;
                an.alert(result.statusCode);
                an.autoClose = 2;
                if (IsAll == undefined) {
                    $('#btnSearch').click();
                }
            }).catch(function (xhr, ex, message) {
                an.title = 'Oops';
                an.content = message;
                an.alert(an.type.failed);
                an.autoClose = 2;
            }).fail(function (xhr) {
                if (xhr.status == 500) {
                    an.title = 'Oops';
                    an.content = 'Server error';
                    an.alert(an.type.failed);
                }
                if (xhr.status == 0) {
                    an.title = 'Oops';
                    an.content = 'Internet Connection was broken';
                    an.alert(an.type.failed);
                }
            }).always(function () {
                preloader.remove();
            });
        }
    </script>
}