@model bool
@{
    ViewData["Title"] = "Invoice List";
}
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">User Report</li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </div>
</div>
<div class="__p main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-header bg-gradientorange text-white">
                        <i class="fas fa-link"></i>@ViewData["Title"]
                    </div>
                    <div class="card-body" style="">
                        <div class="row">
                            @if (Model)
                            {
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <div class="form-group">
                                        <label class="lbl" for="txtTrID">Mobile No.</label>
                                        <input aria-describedby="txtddTrID" class="form-control" id="txtMobile" name="txtddTrID" placeholder="Enter Mobile No." tabindex="1" type="text" value="">
                                        <small id="txtddTrID" class="form-text text-muted d-none"></small>
                                        <input type="hidden" id="hidTrID" value="" class="d-none" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <div class="form-group">
                                        <button id="btnSearch" tabindex="5" class="btn btn-outline-dark mt-4">Search</button>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="table-responsive table-sm table-mh">
                            <table class="table table-bordered table-striped table-responsive-sm" id="tblIvoiceList">
                                <thead class="shadow">
                                    <tr>
                                        <th scope="col" style="width:1%">#</th>
                                        <th scope="col">#Invoice</th>
                                        <th scope="col">Month</th>
                                        <th scope="col">Invoices</th>
                                        @if (!Model)
                                        {
                                            <th scope="col">UploadStatus</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/lib/jquery/dist/moment.min.js"></script>
    <script src="~/lib/bootstrap/calendar/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/datepickerHelper.js"></script>
    <script>

        $(document).ready(function () {
            $('.body-content').removeClass('container').addClass('container-fluid');
            an.autoClose = 5;
            search();
            $("#btnSearch").click(function () {
                search();
            });
        });
        var search = function () {
            btnLdr.addClass = 'btn-dark';
            btnLdr.removeClass = 'btn-outline-dark';
            btnLdr.Start($("#btnSearch"), 'Requesting');
            preloader.load();
            $.post('/invoice-list', { M: $('#txtMobile').val() == undefined ? '' : $('#txtMobile').val() })
                .done(function (result) {
                    resultReload(result);
                    $('#tblIvoiceList tbody').html(result);
                    $('[data-toggle="tooltip"]').tooltip();

                    $("[id^=dimageUpload_]").change(function () {
                        var _this = this;
                        var m = $($(this).closest('tr').children()[2]).text().trim();
                        var formData = new FormData();
                        formData.append('m', m);
                        formData.append('file', $(_this)[0].files[0]);
                        $.ajax({
                            type: 'POST',
                            url: '/Upload-Invoice',
                            processData: false,
                            contentType: false,
                            data: formData,
                            success: function (result) {
                                if (result.statuscode === -1) {
                                    an.title = 'Oops';
                                    an.content = result.status;
                                    an.alert(an.type.failed);
                                } else {
                                    an.title = 'Success';
                                    an.content = result.status;
                                    an.alert(an.type.success);
                                    search();
                                }
                            },
                            statusCode: {
                                500: function () {
                                    an.title = 'Oops';
                                    an.content = 'Server error';
                                    an.alert(an.type.failed);
                                },
                                0: function () {
                                    an.title = 'Oops';
                                    an.content = 'Internet Connection was broken';
                                    an.alert(an.type.failed);
                                }
                            },
                            error: function (result) {
                                checkError(result);
                                an.title = 'Oops';
                                an.content = 'An error occured!';
                                an.alert(an.type.failed);
                            },
                            complete: function () {
                                preloader.remove();
                            }
                        });
                    });
                })
                .catch(function (xhr, e, msg) {
                    an.title = 'Oops';
                    an.content = 'An error has been occured during request.Reload again!'
                    an.alert(an.type.failed);
                })
                .fail(function (xhr) {
                    if (xhr.status == 500) {
                        an.title = 'Oops';
                        an.content = 'Server error';
                        an.alert(an.type.failed);
                    }
                    if (xhr.status == 0) {
                        an.title = 'Oops';
                        an.content = 'Internet Connection was broken';
                        an.alert(an.type.failed);
                    }
                })
                .always(function () {
                    preloader.remove();
                    btnLdr.Stop($('#btnSearch'));
                });
        };


    </script>


}

