<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rupay one</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/Common/animate.css" rel="stylesheet" />
    <link href="/css/Common/magnific-popup.css" rel="stylesheet" />
    <link href="/css/Common/owl.carousel.css" rel="stylesheet" />
    <link href="~/AvailableThemes/@ViewData["Theme"]/css/base.css" rel="stylesheet" />
    <link href="~/AvailableThemes/@ViewData["Theme"]/css/style.css" rel="stylesheet" />
    <link href="~/AvailableThemes/@ViewData["Theme"]/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader">
            <div class="icon"></div>
        </div>
        <!-- Main Header -->
        <header class="main-header header-style-one">
            <div class="logo-desktop">
                <div class="logo"><a href="index.html" title="Rupay one"><img src="/Image/Website/@ViewData["Theme"]/logo.png" alt="Rupay one" title="Rupay one"></a></div>
            </div>
            <!-- Header Top -->
            <div class="header-top header-top-one">
                <div class="outer-container">
                    <div class="inner clearfix">
                        <div class="top-left clearfix">
                            <!--Info-->
                            <div class="info">
                                <ul class="clearfix">
                                    <li class="phone"><a href="tel:555-626-0234"><span class="icon fa fa-phone"></span> +91-9319314623</a></li>
                                    <li class="email"><a href="mailto:support@Rupay one.com"><span class="icon fa fa-envelope"></span> rupayone98@gmail.com</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="top-right clearfix">
                            <!--Top Search-->
                            <div class="my-account">
                                <ul class="clearfix">
                                    <li><a asp-controller="login" asp-action="Index"><span class="icon flaticon-password"></span> Login</a></li>
                                    <li><a asp-controller="login" asp-action="SignUp"><span class="icon flaticon-user-2"></span> Signup</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Upper -->
            <div class="header-upper">
                <div class="outer-container">
                    <div class="inner clearfix">
                        <!--Logo-->
                        <div class="logo-box">
                            <div class="logo"><a href="index.html" title="Rupay one"><img src="~/AvailableThemes/@ViewData["Theme"]/images/logo-two.png" alt="Rupay one" title="Rupay one"></a></div>
                        </div>
                        <div class="nav-content clearfix">
                            <div class="nav-outer clearfix">
                                <!--Mobile Navigation Toggler-->
                                <div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>
                                <!-- Main Menu -->
                                <nav class="main-menu navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            <li class="current">
                                                <a href="index.html">Home</a>
                                            </li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="services.html">Our Services</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="apk/Rupayone.apk"><i class="fa fa-android" aria-hidden="true"></i> Download Andriod</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Header Upper-->
            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="index.html" title=""><img src="~/AvailableThemes/@ViewData["Theme"]/images/sticky-logo.png" alt="" title=""></a>
                    </div>
                    <!--Right Col-->
                    <div class="pull-right clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu clearfix">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav>
                        <!-- Main Menu End-->
                        <!--Search Btn-->
                        <!--Book Btn-->
                    </div>
                </div>
            </div>
            <!-- End Sticky Menu -->
            <!-- Mobile Menu  -->
            <div class="mobile-menu">
                <div class="menu-backdrop"></div>
                <div class="close-btn"><span class="icon flaticon-targeting-cross"></span></div>
                <nav class="menu-box">
                    <div class="nav-logo"><a href="index.html"><img src="~/AvailableThemes/@ViewData["Theme"]/images/nav-logo.png" alt="" title=""></a></div>
                    <div class="menu-outer">
                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                    </div>
                    <!--Social Links-->
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- End Mobile Menu -->
        </header>
        <!-- End Main Header -->
        <!-- Hidden Navigation Bar -->
        <section class="hidden-bar right-align">
            <div class="hidden-bar-closer">
                <button><span class="flaticon-letter-x"></span></button>
            </div>
            <!-- Hidden Bar Wrapper -->
            <div class="hidden-bar-wrapper">
                <div class="logo">
                    <a href="index.html"><img src="~/AvailableThemes/@ViewData["Theme"]/images/logo-two.png" alt="" /></a>
                </div>
                <div class="content-box">
                    <h3>Get In Touch</h3>
                    <div class="text">We must explain to you how all seds this mistakens idea off denouncing pleasures and praising pain was born and I will give you a completed accounts..</div>
                    <a href="yacht-tour-1.html" class="theme-btn btn-style-two">
                        <div class="btn-title">Consultation</div>
                    </a>
                </div>
                <div class="contact-info">
                    <h2>Contact Info</h2>
                    <ul class="list-style-two">
                        <li><span class="icon fa fa-map-marker-alt"></span>Rupay one 26, Old Brozon Mall, Newyrok NY 10005</li>
                        <li><span class="icon fa fa-phone-alt"></span><a href="tel:555626-0234">555 626-0234</a></li>
                        <li><span class="icon fa fa-envelope-open"></span> <a href="mailto:support@Rupay one.com">support@Rupay one.com</a></li>
                        <li><span class="icon fa fa-clock"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
                    </ul>
                </div>
            </div>
            <!-- / Hidden Bar Wrapper -->
        </section>
        <!-- End / Hidden Bar -->
        @RenderBody()
        <!-- Main Footer -->
        <footer class="main-footer">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!--Column-->
                        <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget info-widget">
                                <div class="logo">
                                    <a href="#"><img src="~/AvailableThemes/@ViewData["Theme"]/images/footer-logo.png" alt=""></a>
                                </div>
                                <div class="info">
                                    <ul>
                                        <li>
                                            <span class="icon fa fa-map-marker"></span> Address <br>Vikas Kunj, Mohan Garden, New Delhi-110059
                                        </li>
                                        <li>
                                            <span class="icon fa fa-phone"></span>
                                            Call us <a href="tel:555626-0234">+91-9319314623</a>
                                        </li>
                                        <li>
                                            <span class="icon fa fa-envelope"></span>
                                            <a href="mailto:support@Rupay one.com">rupayone98@gmail.com</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social-links">
                                    <ul class="clearfix">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                        <li><a href="#"><span class="fas fa-rss"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Column-->
                        <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <div class="widget-content">
                                    <div class="widget-title">
                                        <h4>Quick Menu</h4>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <ul class="links">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Our Services</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <ul class="links">
                                                <li><a href="contact.html">Contact Us</a></li>
                                                <li><a href="login.aspx">Login</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Column-->
                        <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget gallery-widget">
                                <div class="widget-title">
                                    <h4>Our Location</h4>
                                </div>
                                <div class="widget-content">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.5241842382716!2d77.03205736508279!3d28.644019482413253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d050cb364a4d7%3A0xd85bace06ddfe1ce!2sVikas%20Kunj%2C%20Hastsal%2C%20Delhi%2C%20110059!5e0!3m2!1sen!2sin!4v1597648349116!5m2!1sen!2sin" width="100%" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="inner clearfix">
                        <div class="copyright">Copyright &copy; 2020 Rupay one. All Rights Reserved.</div>
                        <div class="bottom-links"><a href="term.html">Terms of Use</a> & <a href="privacy.html">Privacy Policy</a></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon flaticon-back"></span></div>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/Common/jquery.appear.js"></script>
    <script src="~/js/Common/modernizr.js"></script>
    <script src="~/js/Common/jquery.easing.min.js"></script>
    <script src="~/js/Common/owl.carousel.min.js"></script>
    <script src="~/js/Common/jquery.magnific-popup.min.js"></script>
    <script src="~/js/Common/canvas.js"></script>
    <script src="~/js/Common/confetti.js"></script>
    <script src="~/js/Common/jquery-ui.js"></script>
    <script src="~/js/Common/jquery.fancybox.js"></script>
    <script src="~/js/Common/owl.js"></script>
    <script src="~/js/Common/wow.js"></script>
    <script src="~/js/Common/scrollbar.js"></script>
    <script src="~/js/Common/element-in-view.js"></script>
    <script src="~/AvailableThemes/@ViewData["Theme"]/js/custom-script.js"></script>
</body>
</html>