@{
    ViewData["LogoutKey"] = "redirectToLogin";
    ViewData["Title"] = ViewData["CName"];
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <title>Welcome to smartindiarecharge</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="siteadmin/images/fav-icon/favicon.png">
    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="siteadmin/css/style.css">
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="siteadmin/css/responsive.css">

    <link rel='stylesheet' href='siteadmin/css/sliderresponsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='siteadmin/css/mainslider.css' type='text/css' media='all' />

    <link rel='stylesheet' href='siteadmin/css/animate.minc8f9.css' type='text/css' media='all' />

</head>
<body>
    @*<div style="display:none">@ViewData["LogoutKey"]</div>*@
    <div class="main-menu main-menu-one sticky-menu">

        <div class="d-flex align-items-center">

            <div class="logo customlogo mr-auto"><a href="index.html"><img src="siteadmin/images/logo/logo.png" alt=""></a></div>
            <div class="logo logoold mr-auto"><a href="index.html"><img src="siteadmin/images/logo/logo.png" alt=""></a></div>



            <nav id="mega-menu-holder" class="navbar navbar-expand-lg order-lg-2 ml-auto">
                <div class="container nav-container">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="flaticon-setup"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/aboutus">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/servicedetail">Services</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/privacy">Privacy Policy</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/t-c">Term & Condition</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contactus">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="apk/smartindiarecharge.apk">Download Andriod</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <!--  <li class="nav-item">
                                <a class="nav-link" href="apk/srecharge.apk">Download Andriod</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div> <!-- /.main-menu -->
    <div style="display:none">@ViewData["LogoutKey"]</div>

    @RenderBody();
    <footer>


        <div class="copy text-center mt-5 pt-2 pb-2">
            <p>© Smart India Recharge 2020 All Rights Reserved</p>
        </div>

    </footer>

    <script src="siteadmin/js/jquery.2.2.3.min.js"></script>
    <!-- Popper js -->
    <script src="siteadmin/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="siteadmin/js/bootstrap.min.js"></script>
    <!-- menu  -->
    <script src="siteadmin/js/custom.js"></script>


    <!-- Theme js -->
    <script src="siteadmin/js/theme.js"></script>
    <!-- /.main-page-wrapper -->

    <script type='text/javascript' src='siteadmin/js/jqueryb8ff.js'></script>

    <script type='text/javascript'>var vlpp_vars = { "prettyPhoto_rel": "wp-video-lightbox", "animation_speed": "fast", "slideshow": "5000", "autoplay_slideshow": "false", "opacity": "0.80", "show_title": "true", "allow_resize": "true", "allow_expand": "true", "default_width": "640", "default_height": "480", "counter_separator_label": "\/", "theme": "pp_default", "horizontal_padding": "20", "hideflash": "false", "wmode": "opaque", "autoplay": "false", "modal": "false", "deeplinking": "false", "overlay_gallery": "true", "overlay_gallery_max": "30", "keyboard_shortcuts": "true", "ie6_fallback": "true" };</script>

    <script type='text/javascript'>var ewd_us_php_data = { "autoplay_slideshow": "No", "autoplay_delay": "10", "autoplay_interval": "5", "slide_transition_effect": "slide", "transition_time": "1", "aspect_ratio": "0.444444444", "mobile_aspect_ratio": "0.444444444", "slider_carousel": "No", "carousel_columns": "3", "carousel_link_to_full": "No", "carousel_advance": "Full", "title_animate": "None", "lightbox": "No", "timer_bar": "Off" };</script>
    <link rel='stylesheet' href='css/font-awesome.min8b06.css' type='text/css' media='all' />

    <script type='text/javascript' src='_script%20src%3d_https_/stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js_%20integrity%3d_sha384-wfSDF2E50Y2/script_wp-content/themes/kingma/assets/vendor/bootstrap.mine485.3de48?ver=3.3.6'></script>

    <script type='text/javascript' src='siteadmin/css/autoptimize_single_4e4f316f7a086b76f42c3a5dd0b5559af269.html'></script>

    <script type='text/javascript' src='siteadmin/css/autoptimize_single_4986bfb79ab31557f0ac95006206164df269.html'></script>

    @RenderSection("Scripts", required: false)
</body>

</html>