@using RoundpayFinTech.AppCode.Model.Shopping.WebShopping.ViewModel;
@model FilterListResponse;
<div  class="sidebar d-none d-sm-block" id="filter-list">
    @if (Model != null)
    {
        @foreach (var item in Model.filterLists)
        {
            <div  class="list-filter mb-30 mt-16">
                <div  class="section-title">
                    <h3 >@item.name</h3>
                </div>
                <ul  class="list-none mt-25" >
                    <!---->
                    @foreach (var ol in item.option_Lists)
                    {
                        <li >
                            <label  class="container ng-valid ng-dirty ng-touched">
                                @ol.OptionName <input  class="ng-untouched ng-pristine ng-valid" value="@ol.Id" onclick="productfilter('@ol.Id',@Model.CategoryId)" type="checkbox"><span  class="checkmark">
                                </span>
                            </label>
                        </li>
                    }
                </ul>
            </div>
        }
    }
</div>