<style>
    #ShoppingCart
    {
        text-align: center;
    }
        #ShoppingCart h1 {
            font-size: 33px;
        }
    .cart-update .btn-common {
        
        border-color: #306ab0!important;
        color: #ffffff;
        background-color: #306ab0!important;
        
    }
        .cart-update .btn-common:hover {
            background-color: #000000!important;
            border-color: #000000!important;
        }
</style>
<h1>Thank You for Shopping </h1>
<h3>Your Order Completed </h3>
<div class="cart-update">
    <a class="btn-common" routerlink="/" href="/">CONTINUE SHOPPING</a>
</div>