@using Fintech.AppCode.StaticModel;
@model IEnumerable<RoundpayFinTech.AppCode.Model.ProcModel.BankMaster>
@{
    ViewData["Title"] = "BankMasterAdmin";
}
<style>
    footer {
        position: fixed;
    }

    .datepicker {
        z-index: 1100 !important;
    }

    .noradius {
        border-radius: 0 !important;
    }
</style>
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item active">Bank Master Admin</li>
        </ol>
    </div>
</div>
<div id="__p" class="main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-2">
                    <div class="card-header bg-gradientorange text-white">
                        <div class="row">
                            <div class="col-sm-5 line-height-34">
                                <i class="fas fa-link"></i> Bank Master Admin
                            </div>

                            <div class="col-md-1">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <button id="btnHolidy" class="btn btn-default btn-sm">Holiday</button>
                                        <span class="btn btn-light" id="BtnAddholiday">
                                            <i class="text-success fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select id="ddlTop" tabindex="1" class="form-control">
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="500">500</option>
                                            <option value="1000">1000</option>
                                            <option value="1500">1500</option>
                                            <option value="2000">2000</option>
                                            <option value="2500">2500</option>
                                            <option value="3000">3000</option>
                                            <option value="4000">4000</option>
                                        </select>
                                    </div>
                                    <input id="txtSearchbank" class="form-control text-left" placeholder="Search Bank" />
                                    <div class="input-group-append">
                                        <button id="btnSearch" tabindex="8" class="btn btn-outline-light"><i class="fa fa-search"></i></button>
                                        <span class="btn btn-outline-light" id="btnExport">
                                            <i class="text-success far fa-file-excel"></i>
                                        </span>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle noradius" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Update IIN
                                            </button>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="javascript:void(0)" data-api-type="Aadharpay">AdhaarPay</a>
                                                <a class="dropdown-item" href="javascript:void(0)" data-Api-Type="AEPS">AEPS</a>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div class="table-responsive vh-1">
                            <table class="table table-bordered table-striped" id="tblBank">
                                <thead class="bg-tableth">
                                    <tr>
                                        <th scope="col">Sr. No.</th>
                                        <th scope="col">Bank Name </th>
                                        <th scope="col">IFSC</th>
                                        <th scope="col">Account Limit</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">IIN</th>
                                        <th scope="col">ISIMPS</th>
                                        <th scope="col">ISNEFT</th>
                                        <th scope="col">ISVerification</th>
                                        <th scope="col" class="text-nowrap">AEPS Status</th>
                                        <th scope="col" class="text-nowrap">Bank Type</th>
                                        <th scope="col">Logo</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery/table2excel.js"></script>

    <script src="~/lib/jquery/dist/moment.min.js"></script>
    <script src="~/lib/bootstrap/calendar/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/datepickerHelper.js"></script>
    <script>

        $(document).ready(function () {
            _loadPartial($('#ddlTop').val(), '');
        });

        $('#txtSearchbank').on('keyup', function () {
            var val = $('#txtSearchbank').val();
            if (val.length >= 3)
                _loadPartial($('#ddlTop').val(), $('#txtSearchbank').val());
        });

        $("#btnSearch").click(() => _loadPartial($('#ddlTop').val(), $('#txtSearchbank').val()));
        var _loadPartial = function (top, search) {
            preloader.load();
            $.post('/Bank-Master-Admin', { TopRows: top, KeyWords: search })
                .done(function (result) {
                    $('#__p tbody').html(result);
                    $('#btnExport').unbind().click(function () {
                        $("#__p").table2excel({
                            exclude: ".table table-hover .table-responsive-sm .table-bordered .table-striped",
                            name: "Worksheet Name",
                            filename: "BankMasterAdmin.xls"
                        });
                    });
                    $('#tblBank tr :checkbox').change(function () {
                        var stsT = 0;
                        var Is = $(this).is(':checked');
                        var _this = this;
                        if (this.id.indexOf('isNEFT_') > -1) {
                            stsT = 1
                        }
                        if (this.id.indexOf('isacveri_') > -1) {
                            stsT = 2;
                        }
                        if (this.id.indexOf('isaeps_') > -1) {
                            stsT = 3;
                        }
                        if (this.id.indexOf('IsIMPS_') > -1) {
                            stsT = 4;
                        }
                        if (stsT > 0) {
                            if (stsT == 1 || stsT == 2 || stsT == 3 || stsT == 4) {
                                preloader.load();
                                $.post('/BankStatusUpdate', { ID: $(this).closest('tr').data().itemId, StatusColumn: stsT }, function (result) {
                                    resultReload(result);
                                    an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                                    an.content = result.msg;
                                    an.alert(result.statuscode);
                                    if (result.statuscode == an.type.success) {
                                        mdlA.dispose();
                                    }
                                }).catch(ex => console.log(ex)).fail(xhr => {
                                    $(_this).attr('checked', Is == false);
                                    an.title = 'Oops';
                                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                                    an.alert(an.type.failed);
                                }).always(() => preloader.remove());
                            }
                        }
                    });

                    $('[id^=btnHolidy]').click(function () {
                        var id = 1;
                        preloader.load();
                        $.post('/Getholiday', { userid: id })
                            .done(function (result) {
                                resultReload(result);
                                mdlA.id = "mymodel";
                                mdlA.content = result;
                                mdlA.options.backdrop = 'static';
                                mdlA.alert(mdlA.size.large);
                                $('[data-toggle="tooltip"]').tooltip();
                                $('button.close span,#mdlCancel').unbind().click(function () {
                                    mdlA.dispose();
                                });
                            })
                            .catch(function (xhr, e, msg) {
                                an.title = 'Oops';
                                an.content = 'An error has been occured during request.Reload again!'
                                an.alert(an.type.failed);
                            })
                            .fail(function (xhr) {
                                if (xhr.status == 500) {
                                    an.title = 'Oops';
                                    an.content = 'Server error';
                                    an.alert(an.type.failed);
                                }
                                if (xhr.status == 0) {
                                    an.title = 'Oops';
                                    an.content = 'Internet Connection was broken';
                                    an.alert(an.type.failed);
                                }
                            })
                            .always(function () {
                                preloader.remove();
                            });
                    });


                    $('[id^=BtnAddholiday]').click(function () {
                        var id = 1;
                        preloader.load();
                        $.post('/Addholiday', { userid: id })
                            .done(function (result) {
                                resultReload(result);
                                mdlA.id = "mymodel";
                                mdlA.content = result;
                                mdlA.options.backdrop = 'static';
                                mdlA.alert(mdlA.size.default);
                                $('[data-toggle="tooltip"]').tooltip();
                                $('button.close span,#mdlCancel').unbind().click(function () {
                                    mdlA.dispose();

                                });
                            })
                            .catch(function (xhr, e, msg) {
                                an.title = 'Oops';
                                an.content = 'An error has been occured during request.Reload again!'
                                an.alert(an.type.failed);
                            })
                            .fail(function (xhr) {
                                if (xhr.status == 500) {
                                    an.title = 'Oops';
                                    an.content = 'Server error';
                                    an.alert(an.type.failed);
                                }
                                if (xhr.status == 0) {
                                    an.title = 'Oops';
                                    an.content = 'Internet Connection was broken';
                                    an.alert(an.type.failed);
                                }
                            })
                            .always(function () {
                                preloader.remove();
                            });
                    });


                    $('input[id^=txtAcLmt],[id^=txtIFSC],[id^=txtCode],[id^=txtIIN]').on('blur', function () {
                        preloader.load();
                        var id = $(this).closest('tr').data().itemId;
                        var AccountLimit = $('[data-item-id="' + id + '"] input[id^="txtAcLmt"]').val();
                        var IFSC = $('[data-item-id="' + id + '"] input[id^="txtIFSC"]').val();
                        var Code = $('[data-item-id="' + id + '"] input[id^="txtCode"]').val();
                        var IIN = $('[data-item-id="' + id + '"] input[id^="txtIIN"]').val();
                        $.post('/UpdateBankMasterAdmin', { ID: id, AccountLimit: AccountLimit, IFSC: IFSC, Code: Code, IIN: IIN })
                            .done(function (result) {
                                resultReload(result);
                                an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                                an.content = result.msg;
                                an.alert(result.statuscode);
                            })
                            .catch(function (xhr, e, msg) {

                            })
                            .fail(function (xhr) {
                                $(this).attr('checked', Is == false);
                                if (xhr.status == 500) {
                                    an.title = 'Oops';
                                    an.content = 'Server error';
                                    an.alert(an.type.failed);
                                }
                                if (xhr.status == 0) {
                                    an.title = 'Oops';
                                    an.content = 'Internet Connection was broken';
                                    an.alert(an.type.failed);
                                }
                            }).always(function () {
                                preloader.remove();
                            });
                    });
                    preloader.remove();
                })
                .catch(function (xhr, e, msg) {
                })
                .fail(function () {
                    $(this).attr('checked', Is == false);
                    an.title = 'Oops';
                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                })
                .always(function () {

                });
        }
        $('[data-api-type]').click(e => {
            preloader.load();
            let apiType = $(e.currentTarget).data().apiType;
            $.post('/Admin/GetAadharIIN', { apiType: apiType }).done(result => {
                an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                an.content = result.msg;
                an.alert(result.statuscode);
            }).fail(xhr => {
                an.title = 'Oops';
                an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                an.alert(an.type.failed);
            }).always(() => preloader.remove());
        })
    </script>
}

