@{
    ViewData["Title"] = "DTH Package";
}
    <style>
        td .dropdown-menu.show {
            background: rgba(0,0,0,0.8)!important;
        }
    </style>
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">Setting</li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </div>
</div>
<div id="__p" class="main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-2">
                    <div class="card-header bg-gradientorange text-white line-height-34">
                        <div class="row">
                            <div class="col-sm-8">
                                <span><i class="fas fa-link"></i> @ViewData["Title"]</span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="input-group">
                                    <input id="txtSearch" class="form-control" placeholder="Search" />
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-outline-light" id="btnNew"><span class="fa fa-plus"></span> New</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-2">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-responsive-sm" id="tblPackages">
                                <thead class="bg-tableth">
                                    <tr>
                                        <th>#</th>
                                        <th style="width:10%">Action Menu</th>
                                        <th>Operator</th>
                                        <th>OP Type</th>
                                        <th>Package Name</th>
                                        <th>Package MRP</th>
                                        <th>Booking Amount</th>
                                        <th>Validity</th>
                                        <th>FRC</th>
                                        <th>Description</th>
                                        <th>Remark</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(() => {
            _loadGrid();
            $('#btnNew').click(() => _loadPackageById(0));
            $('#txtSearch').focus();
            $("#txtSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $('#tblPackages tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        var _loadGrid = function () {
            preloader.load();
            $.post('/_DTHPackage', { id: 0 })
                .done(result => {
                    $('#__p tbody').html(result);
                    $(".dropdown-toggle").dropdown();
                    $('.Edit').on('click', e => _loadPackageById($(e.currentTarget).closest('tr').data().packageId));
                    $('.btnMap').on('click', e => _LoadMappingDialog($(e.currentTarget).closest('tr').data().packageId));

                })
                .fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.responseText;
                    an.alert(an.type.failed);
                })
                .always(() => preloader.remove());
        };

        var _loadPackageById = function (_id) {
            preloader.load();
            $.post('/_DTHPackageByID', { id: _id })
                .done(result => {
                    mdlA.id = 'PackageModal';
                    mdlA.content = result;
                    mdlA.alert(mdlA.size.large);
                    $('button.close span,#mdlCancel').unbind().click(() => mdlA.dispose());
                    $('#ddlOpTypes').on('change', () => _bindOperators());
                    $('#btnSave').on('click', () => _SavePackage());

                }).fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.responseText;
                    an.alert(an.type.failed);
                })
                .always(() => preloader.remove());
        };

        var _SavePackage = function () {
            preloader.load();
            var param = {
                ID: $('#txtID').val(),
                OID: $('#ddlOperator').val(),
                PackageName: $('#txtPackageName').val(),
                PackageMRP: $('#txtPackageMRP').val(),
                BookingAmount: $('#txtBookingAmount').val(),
                Validity: $('#txtValidity').val(),
                Description: $('#txtDescription').val(),
                Remark: $('#txtRemark').val(),
                IsActive: $('#Status').is(':checked'),
                FRC: $('#txtFrcAmount').val()
            };
            $.post('/_EditDTHPackage', param = param)
                .done(result => {
                    an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                    an.content = result.msg;
                    an.alert(result.statuscode);
                    if (result.statuscode == an.type.success) {
                        _loadGrid();
                    }
                }).fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.responseText;
                    an.alert(an.type.failed);
                })
                .always(() => preloader.remove());
        };

        var _bindOperators = function () {
            preloader.load();
            $.post('/_bindDTHOperator', { OpType: $('#ddlOpTypes').val() })
                .done(result => {
                    if (result != null && result.length > 0) {
                        $('#ddlOperator').empty().append('<option value="0"> :: Select Operator :: </option>')
                        for (var i = 0; i < result.length; i++) {
                            $('#ddlOperator').append(`<option value="${result[i].oid}"> ${result[i].name}</option>`);
                        }
                    }
                }).always(() => preloader.remove());
        };

        var _LoadMappingDialog = _packID => {
            $.post('/_MapChannel', { packageID: _packID })
                .done(result => {
                    mdlA.id = 'MappingDialog';
                    mdlA.content = result;
                    mdlA.alert(mdlA.size.large);
                    $('button.close span,#mdlCancel').unbind().click(() => mdlA.dispose());
                    $('input[type="checkbox"]').on('click', e => _mapping($(e.currentTarget)));
                })
        };

        var _mapping = sender => {
            let param = {
                ChannelID: $(sender).data().channelId,
                PackageID: $(sender).closest('tr').data().packageId,
                IsActive: $(sender).is(':checked')
            }
            $.post('/DTHChannelMapping', param)
                .done(result => {
                    an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                    an.content = result.msg;
                    an.alert(result.statuscode);
                })
        };
    </script>
    }