<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> Referral Setting</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">
                Master
            </li>
            <li class="breadcrumb-item active">Referral Setting</li>
        </ol>
    </div>
</div>
<div id="__p" class="main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="card mt-2">
                <div class="card-header bg-gradientorange text-white pb-1 pt-1">
                    <div class="row">
                        <div class="col-sm-8 text-monospace">
                            <i class="fas fa-link"></i> Master Topup  Commission
                        </div>

                    </div>
                </div>

                <div class="card-body p-1">

                    <div class="table-responsive custable_responsive" style="max-height:calc(100vh - 300px)">
                        <table id="Table_Commission" class="table table-bordered table-striped table-condensed">
                            <thead class="bg-tableth">
                                <tr>
                                    <th>#</th>
                                    <th>TopUp Name</th>
                                    <th>TopUp AmountGreator Then</th>
                                    <th>Commission Amount</th>
                                    <th>IsActive</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>



<div id="__p" class="main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="card mt-2">
                <div class="card-header bg-gradientorange text-white pb-1 pt-1">
                    <div class="row">
                        <div class="col-sm-8 text-monospace">
                            <i class="fas fa-link"></i>Master Role
                        </div>

                    </div>
                </div>

                <div class="card-body p-1">

                    <div class="table-responsive custable_responsive" style="max-height:calc(100vh - 300px)">
                        <table id="Table_Role" class="table table-bordered table-striped table-condensed">
                            <thead class="bg-tableth">
                                <tr>
                                    <th>#</th>
                                    <th>Role</th>
                                    <th>Self Signup Amount</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.body-content').removeClass('container').addClass('container-fluid');
            load();
            load1();
            loadReferal();
            $('table').fixTableHeader();
        });

        var load = function () {
            preloader.load();
            $.get('/ReferSettingData1')
                .done(function (result) {
                    resultReload(result);
                    $('#Table_Commission tbody').html(result);
                    $(".dropdown-toggle").dropdown();
                    an.autoClose = 5;

                })
                .fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status === 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                })
                .always(function () {
                    preloader.remove();

                });
        };

        //var loadReferal = function () {
        //    preloader.load();
        //    $.get('/ReferralCommissions').done(function (result) {
        //        resultReload(result);
        //        $('#Table_Commission tbody').html(result)
        //        $(".dropdown-toggle").dropdown();
        //        an.autoClose = 5;
        //    }).fail(xhr => {
        //        an.title = 'Oops';
        //        an.content = xhr.status === 0 ? 'Internet Connection was broken' : 'Server error';
        //        an.alert(an.type.failed);
        //    }).always(function () {
        //        preloader.remove();
        //    });
        //};

        var load1 = function () {
            preloader.load();
            $.get('/ReferSettingData2')
                .done(function (result) {
                    resultReload(result);
                    $('#Table_Role tbody').html(result);
                    $(".dropdown-toggle").dropdown();
                    an.autoClose = 5;

                })
                .fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status === 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                })
                .always(function () {
                    preloader.remove();
                });
        };

    </script>
}