@{
    ViewData["Title"] = "Video Master";
}
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">Setting</li>
            <li class="breadcrumb-item active">@ViewData["Title"] </li>
        </ol>
    </div>
</div>
<div id="__p" class="main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-header bg-gradientorange text-white">
                        <i class="fas fa-link"></i> Video Settings
                        <div class="float-right"><button id="btnNew" class="btn btn-default btn-sm">New</button></div>
                    </div>

                    <div class="card-body" style="">

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-responsive-sm">
                                <thead class="bg-tableth">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Actions</th>
                                        <th scope="col">View</th>
                                        <th scope="col">Video Link</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            preloader.load();
            an.autoClose = 5;
            $.post('/_Videomaster').
                done(function (result) {
                    $('#__p tbody').html(result);
                    $(".dropdown-toggle").dropdown();
                }).catch(function (err) {
                    an.title = 'Oops';
                    an.content = 'An error has been occured during request.Reload again!'
                    an.alert(an.type.failed);
                }).fail(function (xhr) {
                    if (xhr.status == 500) {
                        an.title = 'Oops';
                        an.content = 'Server error';
                        an.alert(an.type.failed);
                    }
                    if (xhr.status == 0) {
                        an.title = 'Oops';
                        an.content = 'Internet Connection was broken';
                        an.alert(an.type.failed);
                    }
                }).always(function () {
                    preloader.remove();
                    $('tr div.dropdown-menu a.dropdown-item').click(function () {
                        if ($.inArray($(this).text(), ['API Commission']) < 0) {
                            return true;
                        }
                        var apiid = 0;
                        apiid = $(this).closest('tr').data().itemId;
                        GetAPICom(apiid);
                    });

                    $('#btnNew,tr div.dropdown-menu a.dropdown-item').click(function () {
                        if ($.inArray($(this).text(), ['Remove', 'New']) < 0) {
                            return true;
                        }
                        preloader.load();
                        var id = 0;
                        if ($(this).text() === 'Remove') {

                            id = $(this).closest('tr').data().itemId;//
                            debugger;
                             mdlA.id = 'mypoup';
                            mdlA.content = mdlA.confirm();
                            mdlA.options.backdrop = 'static';
                            mdlA.alert(mdlA.size.small);
                            $('button.close span,#mdlCancel').unbind().click(() => mdlA.dispose());
                           // var userID = $(this).attr('name');
                            $('#btnOK').unbind().click(function () {
                               // preloader.load();
                                RemoveVideo(id);

                            });
                            preloader.remove();
                            return false;
                        }
                        $.post('/VideoADD')
                            .done(function (result) {
                                resultReload(result);
                                mdlA.id = 'mymodel';
                                mdlA.content = result;
                                mdlA.options.backdrop = 'static';
                                mdlA.alert(mdlA.size.default);
                                setTimeout(function () {
                                    $('#txturl').focus();
                                }, 500);

                                var ct = { tnam: $('#txturl'),title : $('#txttitle'),btnSaveAPI: $('#btnSaveAPI'), hid: $('#hid') }
                                $('button.close span,#mdlCancel').unbind().click(function () {
                                    mdlA.dispose();
                                });
                                $('[data-toggle="tooltip"]').tooltip();
                                ct.btnTxt = ct.btnSaveAPI.html();
                                ct.btnSaveAPI.click(function () {
                                    if (ct.btnTxt !== ct.btnSaveAPI.html())
                                        return false;

                                    btnLdr.addClass = 'btn-dark';
                                    btnLdr.removeClass = 'btn-outline-dark';
                                    btnLdr.Start(ct.btnSaveAPI, id == 0 ? 'Saving' : 'Updating');
                                    var VideoDetail =
                                    {
                                        ID: ct.hid.val(),
                                        URL: ct.tnam.val(),
                                        Title: ct.title.val()
                                    }
                                    debugger;
                                    an.autoClose = 5;
                                    $.ajax({
                                        type: 'POST',
                                        url: '/Save-Video',
                                        dataType: 'json',
                                        contentType: 'application/json',
                                        data: JSON.stringify(VideoDetail),
                                        success: function (result) {
                                            resultReload(result);
                                            if (result.statuscode == an.type.failed) {
                                                an.title = "Oops";
                                                an.content = result.msg;
                                                an.alert(result.statuscode);
                                            }
                                            else if (result.statuscode == an.type.success) {
                                                an.title = "Well done";
                                                an.content = result.msg;
                                                an.alert(result.statuscode);
                                                rel(2);
                                            }
                                        },
                                        statusCode: {
                                            500: function () {
                                                an.title = 'Oops';
                                                an.content = 'Server error';
                                                an.alert(an.type.failed);
                                            },
                                            0: function () {
                                                an.title = 'Oops';
                                                an.content = 'Internet Connection was broken';
                                                an.alert(an.type.failed);
                                            }
                                        },
                                        error: function (result) {
                                            checkError(result);
                                            an.title = 'Oops';
                                            an.content = 'An error occured!';
                                            an.alert(an.type.failed);
                                        },
                                        complete: function () {
                                            btnLdr.Stop(ct.btnSaveAPI);
                                        }
                                    });
                                });
                            }).catch(function (xhr, ex, message) {
                                an.title = 'Oops';
                                an.content = message;
                                an.alert(an.type.failed);
                                an.autoClose = 2;
                            }).fail(function (xhr) {
                                if (xhr.status == 500) {
                                    an.title = 'Oops';
                                    an.content = 'Server error';
                                    an.alert(an.type.failed);
                                }
                                if (xhr.status == 0) {
                                    an.title = 'Oops';
                                    an.content = 'Internet Connection was broken';
                                    an.alert(an.type.failed);
                                }
                            }).always(function () {
                                preloader.remove();
                            });
                    });
                    var RemoveVideo = function (id) {
                        debugger;
                        an.id = 'myalert';
                        an.parent = $('#alertmsg');
                        $.post('/RemoveVideo', { URlID: parseInt(id) },
                function (result) {

                    if (result.statuscode == an.type.failed) {
                        an.title = "Oops! Error";
                        an.content = result.msg;
                        an.alert(result.statuscode);
                    }
                    else if (result.statuscode == an.type.success) {
                        an.title = "Well done!";
                        an.content = result.msg;
                        an.alert(result.statuscode);
                        rel(2)
                    }
                    mdlA.dispose();
                }).catch(function () {
                    console.clear();
                }).fail(function (xhr) {
                    $(_this).attr('checked', Is == false);
                    if (xhr.status == 500) {
                        an.title = 'Oops';
                        an.content = 'Server error';
                        an.alert(an.type.failed);
                    }
                    if (xhr.status == 0) {
                        an.title = 'Oops';
                        an.content = 'Internet Connection was broken';
                        an.alert(an.type.failed);
                    }
                }).always(function () {
                    preloader.remove();
                });
        }
                });
        });


    </script>
}
