@{
    ViewData["Title"] = "Website List";
}
<style>
    .icon-bg {
        background-color: #6c757d7a;
        border-radius: 50%;
        padding: 2px 6px;
    }
</style>
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">User Management</li>
            <li class="breadcrumb-item active">Website List</li>
        </ol>
    </div>
</div>
<div id="__p" class="main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-2">
                    <div class="card-header bg-gradientorange text-white">
                        <i class="fas fa-link"></i> Website List
                    </div>
                    <div class="card-body pt-2">
                        <div class="table-responsive vh-55-5">
                            <table class="table table-bordered table-striped" id="tblDR">
                                <thead class="bg-tableth">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Domain Name </th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Mobile No</th>
                                        <th scope="col">Status</th>
                                        <th>Upload App</th>
                                        <th>Download App</th>
                                        <th>App Package ID</th>
                                        @if (ApplicationSetting.IsWLAPIAllowed == true)
                                        {
                                            <th>IsWLAPIAllowed</th>
                                        }
                                        <th>Refferal Content</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $.post('/Website_List',
                function (result) {
                    $('#tblDR tbody').html(result);
                    var fieldName = $(this).attr('WID');
                    $('input[id^=txtAppPackageID]').on('change', function () {
                        preloader.load();
                        var id = $(this).closest('tr').data().itemId;
                        var AppPackage = ($(this).val());
                        var WID = $('[data-item-id="' + id + '"] input[id^="hidWIDAP_"]').val();

                        if (AppPackage.trim() == '') {
                            an.title = "Oops";
                            an.content = 'Please enter package ID';
                            an.alert(an.type.failed);
                            preloader.remove();
                            return;
                        }

                        $.post('/updateAppPackID', { wid: WID, appPackage: AppPackage})
                            .done(function (result) {
                                if (result.statuscode == an.type.failed) {
                                    an.title = "Oops";
                                    an.content = result.msg;
                                    an.alert(result.statuscode);
                                }
                                else if (result.statuscode == an.type.success) {
                                    an.title = "Well done";
                                    an.content = result.msg;
                                    an.alert(result.statuscode);
                                }
                                loadError('', 0);
                            })
                            .catch(function (xhr, e, msg) {
                            })
                            .fail(function () {
                                $(this).attr('checked', Is == false);
                                if (xhr.status == 500) {
                                    an.title = 'Oops';
                                    an.content = 'Server error';
                                    an.alert(an.type.failed);
                                }
                                if (xhr.status == 0) {
                                    an.title = 'Oops';
                                    an.content = 'Internet Connection was broken';
                                    an.alert(an.type.failed);
                                }
                            })
                            .always(function () {
                                preloader.remove();
                            });

                    });
                    $('input[id^=txtDomainName]').on('change', function () {
                        preloader.load();
                        
                        var id = $(this).closest('tr').data().itemId;
                        var DomainName = ($(this).val());
                        var WID = $('[data-item-id="' + id + '"] input[id^="hidWID_"]').val();
                        var IsActive = $('[data-item-id="' + id + '"] input[id^="isact_"]').is(':checked');

                        var IsWebsiteUpdate = "1";

                        var Website = { WID: WID, DomainName: DomainName, IsActive: IsActive, IsWebsiteUpdate: IsWebsiteUpdate }
                        $.ajax({
                            type: 'POST',
                            url: '/UpdateWebsiteList',
                            data: JSON.stringify(Website),
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (result) {
                                resultReload(result);
                                an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                                an.content = result.msg;
                                an.alert(result.statuscode);

                            },
                            error: function (xhr, result) {
                                checkError(result);
                                an.title = "Oops! Error";
                                an.content = xhr.status == 404 ? "URL not find" : (xhr.status == 0 ? "Internet is not connected" : "Server error");
                                an.alert(an.type.failed);
                                if (result === 'parsererror') {
                                    reload();
                                }
                            },
                            complete: () => preloader.remove()
                        });
                    });
                    $('#tblDR tr .IsActive:checkbox').change(function () {
                        preloader.load();
                        var id = $(this).closest('tr').data().itemId;
                        var DomainName = $('[data-item-id="' + id + '"] input[id^="txtDomainName"]').val();
                        var WID = $('[data-item-id="' + id + '"] input[id^="hidWID_"]').val();
                        var IsActive = ($(this).is(':checked'));

                        var IsWebsiteUpdate = "0";
                        var Website = { WID: WID, DomainName: DomainName, IsActive: IsActive, IsWebsiteUpdate: IsWebsiteUpdate }

                        $.ajax({
                            type: 'POST',
                            url: '/UpdateWebsiteList',
                            data: JSON.stringify(Website),
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (result) {
                                resultReload(result);
                                an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                                an.content = result.msg;
                                an.alert(result.statuscode);
                            },
                            error: function (xhr, result) {
                                an.title = "Oops! Error";
                                an.content = xhr.status == 404 ? "URL not find" : (xhr.status == 0 ? "Internet is not connected" : "Server error");
                                an.alert(an.type.failed);
                                if (result === 'parsererror') {
                                    reload();
                                }
                            },
                            complete: () => preloader.remove()
                        });
                    });
                    //// Operation For WL API Allowed
                    $('#tblDR tr .chkIsWLAPI:checkbox').change(function () {
                        preloader.load();
                        var id = $(this).closest('tr').data().itemId;
                        var WID = $('[data-item-id="' + id + '"] input[id^="hidWID_"]').val();
                        var Website = { WID: WID }
                        $.ajax({
                            type: 'POST',
                            url: '/UpdateIsWLAPIAllowed',
                            data: JSON.stringify(Website),
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (result) {
                                resultReload(result);
                                an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                                an.content = result.msg;
                                an.alert(result.statuscode);
                            },
                            error: function (xhr, result) {
                                an.title = "Oops! Error";
                                an.content = xhr.status == 404 ? "URL not find" : (xhr.status == 0 ? "Internet is not connected" : "Server error");
                                an.alert(an.type.failed);
                                if (result === 'parsererror') {
                                    reload();
                                }
                            },
                            complete: () => preloader.remove()
                        });
                    });

                    $('.rcvalue').on('change', function () {
                 
                        preloader.load();
                        var id = $(this).closest('tr').data().itemId;
                        var AppPackage = ($(this).val());
                        var WID = $('[data-item-id="' + id + '"] input[id^="hidWIDAP_"]').val();

                        if (AppPackage.trim() == '') {
                            an.title = "Oops";
                            an.content = 'Please enter package ID';
                            an.alert(an.type.failed);
                            preloader.remove();
                            return;
                        }

                        $.post('/updatereRefferalContent', { wid: WID, appPackage: AppPackage })
                            .done(function (result) {
                     
                                if (result.statuscode == an.type.failed) {
                                    an.title = "Oops";
                                    an.content = result.msg;
                                    an.alert(result.statuscode);
                                }
                                else if (result.statuscode == an.type.success) {
                                    an.title = "Well done";
                                    an.content = result.msg;
                                    an.alert(result.statuscode);
                                }
                               
                            })
                            .catch(function (xhr, e, msg) {
                            })
                            .fail(function () {
                                $(this).attr('checked', Is == false);
                                if (xhr.status == 500) {
                                    an.title = 'Oops';
                                    an.content = 'Server error';
                                    an.alert(an.type.failed);
                                }
                                if (xhr.status == 0) {
                                    an.title = 'Oops';
                                    an.content = 'Internet Connection was broken';
                                    an.alert(an.type.failed);
                                }
                            })
                            .always(function () {
                                preloader.remove();
                            });

                    });

                });
        });
    </script>
}

