@model Fintech.AppCode.Interfaces.IResponseStatus
<div class="col-md-12">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3>@Model.Msg</h3>
    <div class="form-group">
        @Html.Label("txtOTP", "Fill OTP", new { @class = "lbl" })
        @Html.TextBox("txtOTP", null, new { @class = "form-control text-capitalize", @placeholder = "Enter OTP", @aria_describedby = "OTPHelp", @tabindex = 4 })
        <small id="OTPHelp" class="form-text text-danger  d-none">Invalid OTP</small>
        <input type="hidden" id="hidReffID" value="@Model.ReffID" />
    </div>
    <button class="btn btn-outline-success btn-sm" id="btnValidateBene">Verify</button>    
    <button class="btn btn-danger btn-sm" id="mdlCancel">Cancel</button>
</div>
