@using RoundpayFinTech.AppCode.Model;
@model ResponseStatus
<style>
    .cart-box {
        border: none;
    }
</style>

<div class="bg-white checkout-area mt-5">
    <div class="container">
        <div class="row">
            <input type="hidden" id="hdntype" value="@Model.Msg" />
            <div class="col-lg-3">
                <div class="sidebar-checkout">
                    <div class="cart-box cart-coupon fix">
                        <div class="img mt-3">
                            <img style="height:100px" src="/ShoppingWebsite/images/icons/avatar.png">
                        </div>
                        <h5>@Model.CommonStr</h5>
                        <div class="cart-box-inner p-2" id="dvdash">
                            <div class="list-group">
                                <a class="list-group-item list-group-item-cus list-group-item-action text-left" style="cursor:pointer" data-id="O">
                                    <i aria-hidden="true" class="fa fa-shopping-cart">
                                    </i> My Orders
                                </a>
                                <a class="list-group-item list-group-item-cus list-group-item-action text-left" style="cursor:pointer" data-id="W" >
                                <i aria-hidden="true" class="icon_heart_alt">
                                    </i> My WishList</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">

                <div id="MyDetails"></div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if ($('#hdntype').val() == "WishList") {
            getallwishlist();
        }
        else if ($('#hdntype').val() == "Orders") {
            getOrders();
        }
       

    });

  



</script>