@using RoundpayFinTech.AppCode.Model.Shopping.WebShopping.ViewModel;
@model WebSite;
<style>
    .highlight {
        background: yellow;
    }
</style>
<div class="main-content">
    <!--Local Boards & Services-->
    <section class="wf100 p80-50 mt-4">
        <div class="container">
            <div class="outter-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Refund and Cancellation</h4>
                            <p>
                                Our focus is complete customer satisfaction. In the event, if you are displeased with the services provided, we will refund back the money, provided the reasons are genuine and proved after investigation. Please read the fine prints of each deal before buying it, it provides all the details about the services or the product you purchase.
                                In case of dissatisfaction from our services, clients have the liberty to cancel their projects and request a refund from us. Our Policy for the cancellation and refund will be as follows:
                            </p>

                            <h4>Cancellation Policy</h4>
                            <p>For Cancellations please contact the us at @Model.EmailId  Requests received later than 7 business days prior to the end of the current service period will be treated as cancellation of services for the next service period.</p>

                            <h4>Refund Policy</h4>


                            <p>
                                We will try our best to provide best service to our user, In case any client is not completely satisfied with our service we can provide a refund.
                                If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of payment gateway name payments refund will be made to the same account.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

