<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rupay one</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/Common/animate.css" rel="stylesheet" />
    <link href="/css/Common/magnific-popup.css" rel="stylesheet" />
    <link href="/css/Common/owl.carousel.css" rel="stylesheet" />
    <link href="~/AvailableThemes/@ViewData["Theme"]/css/base.css" rel="stylesheet" />
    <link href="~/AvailableThemes/@ViewData["Theme"]/css/style.css" rel="stylesheet" />
    <link href="~/AvailableThemes/@ViewData["Theme"]/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader">
            <div class="icon"></div>
        </div>
        <!-- Main Header -->
        <header id="site-header" class="header header-1">
            <div class="container-fluid">
                <div id="header-wrap" class="box-shadow">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Navbar -->
                            <nav class="navbar navbar-expand-lg">
                                <a class="navbar-brand logo" href="/">
                                    <img id="logo-img" class="img-center" src="/AvailableThemes/@ViewData["Theme"]/images/logo.png" alt="">
                                </a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                    <!-- Left nav -->
                                    <ul id="main-menu" class="nav navbar-nav ml-auto mr-auto">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/aboutus">About</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/servicedetail">Services</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="/contactus">Contact Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/termandcondition">T & C</a>
                                        </li>
                                        <li class="nav-item">



                                            <a class="nav-link" href="/login">Login</a>
                                        </li>
                                        <li>
                                            <a class="andriod-btn" href="apk/pay2raj.apk" data-text="Downlod Android">
                                                <i class="fa fa-android" aria-hidden="true" style="margin-right: 8px; font-size: 17px;"></i><span>Downlod Android</span>
                                            </a>
                                        </li>
                                </div>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Main Header -->
        @RenderBody()

        <!--footer start-->
        <footer class="footer footer-1 pos-r footer-back">
            <div class="subscribe-box">
                <div class="container">
                    <div class="row subscribe-inner align-items-center">
                        <div class="col-md-6 col-sm-12">
                            <p class="lead mb-0" style="font-size: 20px;">Sign up for new updates from us.</p>
                        </div>
                        <div class="col-md-6 col-sm-12 sm-mt-2">
                            <div class="subscribe-form sm-mt-2">
                                <form id="mc-form" class="group">
                                    <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                                    <input class="btn btn-theme" type="submit" name="subscribe" value="Subscribe">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="primary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="footer-logo">
                                <img id="footer-logo-img" src="/AvailableThemes/@ViewData["Theme"]/images/logo.png" class="img-center" alt="">
                            </div>
                            <p class="mb-0">Welcome at Pay2Raj to join a life long business opportunity with us Recharge is stands among best Online Mobile Recharge Service Provider including all major mobile operators and DTH recharge.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 pl-md-5 sm-mt-5 footer-list justify-content-between d-flex">
                            <ul class="list-unstyled w-100">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/aboutus">About Us</a>
                                </li>
                                <li>
                                    <a href="/servicedetail">Services</a>
                                </li>

                                <li>
                                    <a href="/contactus">Contact</a>
                                </li>
                                <li>
                                    <a href="/termandcondition">T & C</a>
                                </li>
                                <li>
                                    <a href="/login">Login</a>
                                </li>
                            </ul>
                            <ul class="list-unstyled w-100">
                                <li>
                                    <a href="#">Email</a>
                                </li>
                                <li>
                                    <a href="#">9214raj@gmail.com</a>
                                </li>
                                <li>
                                    <a href="#">Phone</a>
                                </li>
                                <li>
                                    <a href="#">+91-9256720000</a>
                                </li>
                                <li>
                                    <a href="#">Address:</a>
                                </li>
                                <li>
                                    <a href="#">village chak khurd teh nakodar distt jalandhar pin code 144042</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-12 md-mt-5">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6826.801064489882!2d75.53131162568116!3d31.181905975931258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5d4e4c9e2f17%3A0xf593ac3d11fa18d6!2sChak%20Khurd%2C%20Punjab%20144042!5e0!3m2!1sen!2sin!4v1577512318512!5m2!1sen!2sin" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondary-footer">
                <div class="container">
                    <div class="copyright">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12">
                                <span style="color: white;">Copyright 2019 Pay2Raj | All Rights Reserved</span>
                            </div>
                            <div class="col-lg-6 col-md-12 text-lg-right md-mt-3">
                                <div class="footer-social">
                                    <ul class="list-inline">
                                        <li class="mr-2">
                                            <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
                                        </li>
                                        <li class="mr-2">
                                            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-google-plus-g"></i> Google Plus</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->
    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon flaticon-back"></span></div>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/Common/jquery.appear.js"></script>
    <script src="~/js/Common/modernizr.js"></script>
    <script src="~/js/Common/jquery.easing.min.js"></script>
    <script src="~/js/Common/owl.carousel.min.js"></script>
    <script src="~/js/Common/jquery.magnific-popup.min.js"></script>
    <script src="~/js/Common/canvas.js"></script>
    <script src="~/js/Common/confetti.js"></script>
    <script src="~/js/Common/jquery-ui.js"></script>
    <script src="~/js/Common/jquery.fancybox.js"></script>
    <script src="~/js/Common/owl.js"></script>
    <script src="~/js/Common/wow.js"></script>
    <script src="~/js/Common/scrollbar.js"></script>
    <script src="~/js/Common/element-in-view.js"></script>
    <script src="~/AvailableThemes/@ViewData["Theme"]/js/custom-script.js"></script>
</body>
</html>