<div aria-label="breadcrumb" class="breadcrumb">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-home"></i> Dashboard</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
</div>


<div class="main-temp-body">
    <div class="container-fluid">
        <div class="">
            <div id="usrDSUM" class="bg-purple row grid-margin"></div>
        </div>
        <marquee behavior="scroll"><span id="divNews"></span></marquee>

        <div class="row row-sm">
            <div class="col-sm-6 col-xl-2">
                <div class="widget bg-cyan">
                    <a class="stats-left " href="/RechargeReport">
                        <h5>Transaction</h5>
                        <h4> History</h4>
                    </a>
                    <div class="stats-right border-cyan">
                        <label> <i class="fas fa-file-alt tx-60 lh-0 txt-cyan op-7"></i></label>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-2">
                <div class="widget bg-red">
                    <a class="stats-left " href="/UserLedger">
                        <h5>Account</h5>
                        <h4> Ledger</h4>
                    </a>
                    <div class="stats-right border-red">
                        <label> <i class="fas fa-chart-bar tx-60 lh-0 txt-red op-7"></i></label>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-2">
                <div class="widget bg-yellow">
                    <a class="stats-left " href="">
                        <h5>Purchase</h5>
                        <h4> History</h4>
                    </a>
                    <div class="stats-right border-yellow">
                        <label> <i class="fas fa-shopping-basket tx-60 lh-0 txt-yellow op-7"></i></label>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-2">
                <div class="widget bg-dark">
                    <a class="stats-left " href="/USalesSummary">
                        <h5>Sales</h5>
                        <h4> Summary</h4>
                    </a>
                    <div class="stats-right border-dark">
                        <label> <i class="fas fa-book-open tx-60 lh-0 txt-dark op-7"></i></label>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-2">
                <div class="widget bg-green">
                    <a class="stats-left " href="/UDaybook">
                        <h5>Day</h5>
                        <h4> Book</h4>
                    </a>
                    <div class="stats-right border-green">
                        <label> <i class="fas fa-book tx-60 lh-0 txt-green op-7"></i></label>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-2">
                <div class="widget bg-blue">
                    <a class="stats-left " href="/DMRReport">
                        <h5>DMT</h5>
                        <h4> Report</h4>
                    </a>
                    <div class="stats-right border-blue">
                        <label> <i class="fas fa-rupee-sign tx-60 lh-0 txt-blue op-7"></i></label>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

        </div>

        <div class="col-md-12 text-center"><span id="divOpDown" class="text-danger"></span></div>

        <div class="row">
            <div class="col-xl-8">
                <div class="row gutter">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card mb-3">
                            <div class="card-header bg-gradientorange text-white">
                                Sales
                            </div>
                            <div class="card-body" style="padding:0;">

                                <div id="container" style="padding: 5px"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <style>
                .card {
                    margin-top: 20px;
                }

                .list-group-item:first-child {
                    border-radius: 0;
                }
            </style>
            <div class="col-xl-4">
                <div class="card mb-3">
                    <div class="card-header bg-gradientorange text-white">
                        Role Wise Transaction Summary
                    </div>
                    <div class="card-body" style="padding:0;">
                        <table class="table table-bordered" style="margin-bottom:0;">
                            <thead>
                                <tr>
                                    <th>Role</th>
                                    <th class="text-right">Active Members</th>
                                    <th class="text-right">Tran Count</th>
                                </tr>
                            </thead>
                            <tbody id="ulReport"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>