@model List<RoundpayFinTech.AppCode.Model.ProcModel.News>
<style>
    .news-item {
        padding: 4px 4px;
        margin: 0px;
        border-bottom: 1px dotted #555;
        list-style: none;
    }

    .news-demo-down-auto {
        padding: 10px;
        height: 327px !important;
    }
</style>
<div class="card card-default mt-3">
    <div class="card-header bg-purple mb-0" style="height:auto;padding-left: 1px;">
        <h6 class="text-white">News</h6>
    </div>
    <div class="card-body">
        <ul class="news-demo-down-auto">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <li class="news-item">@Html.Raw(item.NewsDetail)</li>
                }
            }
            else
            {
                <li>No Records</li>
            }
        </ul>
    </div>
</div>