@{
    Layout = "_LayoutSiteAdmin";
}
<section class="pagepicture">
    <img src="siteadmin/images/about-company.jpg">
</section>



<div class="heading innerheading text-center mt-5">
    <h1>About <span>Us</span></h1>
    <p class="cus-margin">Build vital capabilities to deliver digital outcomes.</p>
</div>


<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 pl-0 pr-0">
                <div class="tabscreen"><img src="siteadmin/images/tab.jpg"></div>
            </div>

            <div class="col-md-6 pl-0 pr-0 systemdetails">
                <div class="indetails">
                    <h4>About Us</h4>
                    <p>Welcome at Smart India Recharge to join a life long business opportunity with uSmart India Recharge is stands among best Online Mobile Recharge Service Provider including all major mobile operators and DTH recharge. Become a part of this giant in a really small investment. Start today for a better future. Start your own mobile recharge business with us. Establishment of higher marketing standard is a key of global market structure. Every financial standard and life standard of people is always depends on marketing strategy. Impost Money brings you a standard and all new marketing plan in network marketing.</p>
                    <ul class="about-page">
                        <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">All Types Of Recharges (SPECIAL, VALIDITY,3G & FLEXI)</a></li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">Duis rhoncus lectus at velit hendrerit quis</a></li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">Centralized Dispute Handling System</a></li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">Mobile , DTH, Data Card, Insurance, Gas, Electricity Bills, Post-Paid, Prepaid Etc.</a></li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">Offline Recharge System Through Any Sim Card</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>