@{
    Layout = "_LayoutSiteAdmin";
}




<div id="page-outer" class="main-left">
    <div id="home" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid acc-slider-section header_slider_banner vc_row-no-padding vc_row-o-full-height vc_row-o-columns-middle vc_row-flex">
        <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-sm vc_hidden-xs">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <div class="wpaas-accordion-wrap wpaas-row-clearfix accordion-margin-right">
                                <div id="wpaas-accordion-2" class="wpos-tab-slider om-slider hidden-xs hidden-sm">
                                    <div class="as-wposslides">
                                        <div class="as-wposslide">
                                            <div class="main-box">
                                                <p class="inner_slider_title">Money Transfer</b></p>
                                                <div class="inner_box">
                                                    <div class="alt_innerdesc">
                                                        <p class="text-justify">Money transfer API lets you transfer money across 200+ banks all over India in just a minute.</p>

                                                        <p class="text-justify mt-2">
                                                            Getting your money where you need it has never been easier. We offer a variety of options to move your money, fast. Like Domestic Money Transfer (DMT) benefit is an enormous market in India which got much more lift with current increment in advanced exchanges.<br>
                                                            The most vital part of a Money Transfer framework is a sheltered and secure application with perfect ongoing combination of NEFT and IMPS APIs.
                                                        </p>
                                                    </div>

                                                    <!-- <div class="know-more-btn"> <a href="srecharge-money-transfer.html" class="know-more" onclick="funOnclick('navratnalu-desktop' );">Know More</a></div> -->
                                                </div>
                                            </div>
                                            <div class="person-img"><img src="siteadmin/images/character-dholl.png" class="navratnalu-img"></div>
                                            <img class="as-wposbg" src="siteadmin/images/Navratnalu-desktop.jpg" alt="" />
                                            <div class="as-layer om-slider-layer as-closed as-black as-padding" style="background: url('siteadmin/images/manthan-scripting.jpg')" ;>
                                                <div class="hover-bg-image-part" style="left:-4px;">
                                                    <p class="alt-title">Money Transfer</p>
                                                    <p class="alt_desc">Based on the IMPS technology.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="as-wposslide">
                                            <div class="main-box">
                                                <p class="inner_slider_title">Bill Payment</p>
                                                <div class="inner_box">
                                                    <div class="alt_innerdesc">
                                                        <p class="text-justify">BHARAT BILLPAY is the simple way to manage bills!</p>
                                                        <p class="text-justify mt-2">Bharat Bill Payment System facilitates the installment of bills and enhances the security and speed of bill pay. The administration is accessible in different installment modes, on the web and through a system of specialists.<br>The BBPS will change the general public from money to electronic installment framework making it less reliant on money .Currently you can pay charge for Utility (Gas, power, water, DTH) .</p>
                                                    </div>

                                                    <!--   <div class="know-more-btn"> <a href="srecharge-light-bill-payment.html" class="know-more" onclick="funOnclick('capt-duke-banner-bg' );">Know More</a></div> -->
                                                </div>
                                            </div>
                                            <div class="person-img"><img src="siteadmin/images/sardar-483x683.png" class="capt-person-img"></div>
                                            <img class="as-wposbg" src="siteadmin/images/capt-duke-banner-bg.jpg" alt="CAPTAIN DE 9 NUKTE" />
                                            <div class="as-layer om-slider-layer as-closed as-black as-padding" style="background: url('siteadmin/images/capt-de-nukte-scripting.jpg')" ;>
                                                <div class="hover-bg-image-part" style="left:-4px;">
                                                    <p class="alt-title">FasTag</p>
                                                    <p class="alt_desc">Easy and user friendly portal, No failed transactions</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="as-wposslide">
                                            <div class="main-box">
                                                <p class="inner_slider_title">FasTag</p>
                                                <div class="inner_box">
                                                    <div class="alt_innerdesc">

                                                        <p class="text-justify">FasTag is a device that employs Radio Frequency Identification (RFID) technology for making toll payments directly from a prepaid account linked to it. Now issue and recharge FasTag through Smart India Recharge portal.</p>

                                                        <p class="text-justify mt-2"> Save your time and fuel as you do not stop to pay cash or receive cash change and zip through the toll plazas on the national and select state highways. FASTag, an electronic toll collection service, makes toll payment cashless as the toll charges are automatically deducted from the FASTag account as your vehicle passes the toll plazas.</span> </p>

                                                    </div>
                                                    <div class="main-parram">
                                                        <!-- <div class="info_1">
                                                          <div class="parram1">
                                                            <p class="alt_parramvalue">2.5 Cr</p>
                                                            <p class="alt_parramtext">Farmers Engaged</p>
                                                          </div>
                                                        </div>
                                                        <div class="info_2">
                                                          <div class="parram1">
                                                            <p class="alt_parramvalue">36,000 Cr</p>
                                                            <p class="alt_parramtext">Farm Loan Waiver (UP)</p>
                                                          </div>
                                                        </div>
                                                        <div class="info_3">
                                                          <div class="parram1">
                                                            <p class="alt_parramvalue">5 States</p>
                                                            <p class="alt_parramtext">Announced Waiver</p>
                                                          </div>
                                                        </div>
                                                        <div class="info_4">
                                                          <div class="parram1">
                                                            <p class="alt_parramvalue">1 L Cr</b></p>
                                                            <p class="alt_parramtext"></b></p>
                                                          </div>
                                                        </div> -->

                                                    </div>
                                                    <!--   <div class="know-more-btn"> <a href="srecharge-director-desk.html" class="know-more" onclick="funOnclick('kisan-bac' );">Know More</a></div> -->
                                                </div>
                                            </div>
                                            <div class="person-img"><img src="siteadmin/images/kishan-yatra-banner-image-1-1.jpg" class="kishan-person-img"></div>
                                            <img class="as-wposbg" src="siteadmin/images/kisan-bac.jpg" alt="" />
                                            <div class="as-layer om-slider-layer as-closed as-black as-padding" style="background: url('siteadmin/images/kisan-loan-waiver-scripting.jpg')" ;>
                                                <div class="hover-bg-image-part" style="left:-4px;">
                                                    <p class="alt-title">FasTag</p>
                                                    <p class="alt_desc">FASTag, an electronic toll collection service, makes toll payment cashless</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="as-wposslide">
                                            <div class="main-box">
                                                <p class="inner_slider_title">Mobile Recharge</p>
                                                <div class="inner_box">
                                                    <div class="alt_innerdesc">

                                                        <p class="text-justify">We provide Smart India Recharge service in India for the mobile networks like Aircel, Airtel, BSNL - Top Up, BSNL - Validity, Docomo - Special, Docomo - Top Up, Idea, Loop (BPL), MTNL -Top Up, MTNL </p>

                                                        <p class="text-justify mt-2">- Validity, MTS, Reliance - CDMA, Reliance - GSM, Tata Indicom, Uninor - Special, Uninor - Top Up, Virgin - CDMA, Virgin - GSM and Vodafone. Our online recharge service is convenient and fast that facilitate Smart India Recharge of prepaid mobile at competitive prices through internet.</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="person-img"><img src="siteadmin/images/bihar-1-1.png" class="nischay-person-img"></div>
                                            <img class="as-wposbg" src="siteadmin/images/nischay-7-banner-bg.jpg" alt="" />
                                            <div class="as-layer om-slider-layer as-closed as-black as-padding" style="background: url('siteadmin/images/nithish-nishchay-scripting.jpg')" ;>
                                                <div class="hover-bg-image-part" style="left:-4px;">
                                                    <p class="alt-title">Mobile Recharge</p>
                                                    <p class="alt_desc">Prepaid mobileSmart India Recharge services easily from your mobile or computer or laptop.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="as-wposslide">
                                            <div class="main-box">
                                                <p class="inner_slider_title">DTH Recharge</p>
                                                <div class="inner_box">
                                                    <div class="alt_innerdesc">

                                                        <p class="text-justify">We provide online/Offline DTH recharge service provider. Our DTH service covers the service providers like Tata Sky, Dish TV, Sun Direct, Videocon D2H and Big TV.</p>

                                                        <p class="text-justify mt-2">You can recharge it at the comfort of your home or office Gprs Based Recharge or simple wright sms based Recharge or online recharge with few clicks of mouse. All you need to have is a computer with internet connection and online recharge of your prepaid DTH account is just few clicks away.</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="person-img"><img src="siteadmin/images/man483x683-1.png" class="manthan-person-img"></div>
                                            <img class="as-wposbg" src="siteadmin/images/manthan-bg.jpg" alt="" />
                                            <div class="as-layer om-slider-layer as-closed as-black as-padding" style="background: url('siteadmin/images/manthan-scripting.jpg')" ;>
                                                <div class="hover-bg-image-part" style="left:-4px;">
                                                    <p class="alt-title">DTH Recharge</p>
                                                    <p class="alt_desc">DTH recharge services easily from your mobile or computer or laptop.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="as-wposslide as-opened">
                                            <div class="main-box">
                                                <p class="inner_slider_title">Aadhaar Enabled Payment System (AEPS)</p>
                                                <div class="inner_box">
                                                    <div class="alt_innerdesc">

                                                        <p class="text-justify">Aadhaar Enabled Payment System (AEPS) is a sort of installment framework that depends on the Unique Identification Number and permits Aadhaar card holders to consistently make money related exchanges through Aadhaar-based confirmation.</p>

                                                        <p class="text-justify mt-2">The AEPS framework plans to enable all areas of the general public by making budgetary and saving money administrations accessible to all through Aadhaar.</p>

                                                    </div>

                                                    <!--  <div class="know-more-btn"> <a href="srecharge-aadhar-payment.html" class="know-more" onclick="funOnclick('manthan-bg' );">Know More</a></div> -->
                                                </div>
                                            </div>
                                            <div class="person-img"><img src="siteadmin/images/aeps.png" class="navratnalu-img"></div>
                                            <img class="as-wposbg" src="siteadmin/images/on-going-bannerbg.jpg" alt="" />
                                            <div class="as-layer om-slider-layer as-closed as-black as-padding" style="background: url('images/on-going-scripting.jpg')">
                                                <div class="ongoing-box">
                                                    <p class="alt-title">Aadhaar Enabled Payment System (AEPS)</p>
                                                    <p class="alt_desc">AEPS is a payment service offered by National Payments Corporation of India (NPCI)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpaas-conf wpaas-hide">{"visible_panels":"5","width":"1920","height":"900","orientation":"horizontal","panel_distance":"0","max_openedaccordion_size":"100%","open_panel_on":"hover","shadow":"false","autoplay":"true","mouse_wheel":"false"}</div>
                                    <a id="more-slide-right-2"><i class="fa fa-angle-double-right"></i></a> <a id="more-slide-left-2"><i class="fa fa-angle-double-left"></i></a>
                                </div>
                            </div>
                            <script>
    function funOnclick(title) {
                                    console.log(title);
                                    // clearInterval(ewd_slider.interval);
                                    if (title.trim() == 'manthan-bg' || title.trim() == 'manthan-m-header')
                                        SlideTransition(4, true);
                                    else if (title.trim() == 'nischay-7-banner-bg' || title.trim() == 'header-banners-nitish-m')
                                        SlideTransition(3, true);
                                    else if (title.trim() == 'kisan-bac' || title.trim() == 'header-banners-kisan-m')
                                        SlideTransition(2, true);
                                    else if (title.trim() == 'capt-duke-banner-bg' || title.trim() == 'header-banners-m')
                                        SlideTransition(1, true);
                                    else if (title.trim() == 'navratnalu-desktop' || title.trim() == 'navratnalu-mobile')
                                        SlideTransition(0, true);
                                    else
                                        SlideTransition(0, true);
                                    return false;
                                }

                                // Function to change heading background color
                                function changeHeadingBg(id) {
                                    document.getElementById("dv1").style.background = '#161638';
                                    document.getElementById("dv2").style.background = '#161638';
                                    document.getElementById("dv3").style.background = '#161638';
                                    document.getElementById("dv4").style.background = '#161638';
                                    document.getElementById("dv5").style.background = '#161638';
                                    document.getElementById("dv6").style.background = '#161638';

                                    if (id == 'dv5') {
                                        document.getElementById(id).style.background = '#4c8ddd';
                                    } else if (id == 'dv4') {
                                        document.getElementById(id).style.background = '#4147bf';
                                    } else if (id == 'dv3') {
                                        document.getElementById(id).style.background = '#9e81b1';
                                    } else if (id == 'dv2') {
                                        document.getElementById(id).style.background = '#aa9739';
                                    } else if (id == 'dv1') {
                                        document.getElementById(id).style.background = '#4fabc2';
                                    } else if (id == 'dv6') {
                                        document.getElementById(id).style.background = '#3aa7a2';
                                    } else {
                                        document.getElementById(id).style.background = '#161638';
                                    }
                                }</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width"></div>
</div>
<section id="about-section" class="pt-5 pb-5" style="background: #fff">
    <!-- Begin info box-1 -->
    <div class="info-box-1-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/1.jpg">
                        <div class="info-box-info">
                            <h4>MicroATM</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/2.jpg">
                        <div class="info-box-info">
                            <h4>Gas Booking</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/3.jpg">
                        <div class="info-box-info">
                            <h4>Hotel Booking</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/4.jpg">
                        <div class="info-box-info">
                            <h4>FasTag</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/5.jpg">
                        <div class="info-box-info">
                            <h4>Insurance</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/6.jpg">
                        <div class="info-box-info">
                            <h4>Travel API</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/7.jpg">
                        <div class="info-box-info">
                            <h4>Mobile Rechare</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/8.jpg">
                        <div class="info-box-info">
                            <h4>BBPS</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/9.jpg">
                        <div class="info-box-info">
                            <h4>Pan Card</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/10.jpg">
                        <div class="info-box-info">
                            <h4>AEPS</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/11.jpg">
                        <div class="info-box-info">
                            <h4>Money Tranfer</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/12.jpg">
                        <div class="info-box-info">
                            <h4>Data Card</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/13.jpg">
                        <div class="info-box-info">
                            <h4>DTH Recharge</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/14.jpg">
                        <div class="info-box-info">
                            <h4>Online Bill Payment</h4>

                        </div>
                    </a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <div class="about-bg"></div>
</section>
<section style="background: #eaeaea;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 pl-0 pr-0">
                <div class="tabscreen"><img src="siteadmin/images/tab.jpg"></div>
            </div>

            <div class="col-md-6 pl-0 pr-0 systemdetails">
                <div class="indetails">
                    <h4>About Us</h4>
                    <p>Welcome at Smart India Recharge to join a life long business opportunity with uSmart India Recharge is stands among best Online Mobile Recharge Service Provider including all major mobile operators and DTH recharge. Become a part of this giant in a really small investment. Start today for a better future. Start your own mobile recharge business with us. Establishment of higher marketing standard is a key of global market structure. Every financial standard and life standard of people is always depends on marketing strategy. Impost Money brings you a standard and all new marketing plan in network marketing.</p>
                    <ul class="about-page">
                        <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">All Types Of Recharges (SPECIAL, VALIDITY,3G & FLEXI)</a></li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">Duis rhoncus lectus at velit hendrerit quis</a></li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">Centralized Dispute Handling System</a></li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">Mobile , DTH, Data Card, Insurance, Gas, Electricity Bills, Post-Paid, Prepaid Etc.</a></li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="#">Offline Recharge System Through Any Sim Card</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wf100 p80 community-links pt-5">
    <div class="container">
        <div class="section-title text-center service-sec">
            <h2>Popular Services</h2>

        </div>
        <div class="row">
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box1 mb-5">
                    <h6>BBPS</h6>
                    <p>Bharat Bill Payment System facilitates the installment of bills and enhances the security and speed of bill pay. The administration is accessible in different installment modes, on the web and through a system of specialists</p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box2 mb-5">
                    <h6>AEPS</h6>
                    <p>
                        Aadhaar Enabled Payment System (AEPS) is a sort of installment framework that depends on the Unique Identification Number and permits Aadhaar card holders to consistently make money related exchanges through Aadhaar..
                    </p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box3 mb-5">
                    <h6>General Insurance</h6>
                    <p>General insurance or non-life insurance policies, including automobile and homeowners policies, provide payments depending on the loss from a particular financial event. General insurance is typically defined as any insurance that is not..</p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box4 mb-5">
                    <h6>Domestic Money Transfer </h6>
                    <p>Domestic Money Transfer (DMT) benefit is an enormous market in India which got much more lift with current increment in advanced exchanges.The most vital part of a Money Transfer framework is a sheltered and secure  application with perfect ongoing...</p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box5 mb-5">
                    <h6>Mobile Recharge </h6>
                    <p>We provideSmart India Recharge service in India for the mobile networks like Aircel, Airtel, BSNL - Top Up, BSNL - Validity, Docomo - Special, Docomo - Top Up, Idea, Loop (BPL), MTNL -Top Up, MTNL - Validity, MTS, Reliance - CDMA, Reliance - GSM, ... </p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box6 mb-5">
                    <h6>Travel Booking </h6>
                    <p>Travel API is fundamentally set of web administrations to get to the movement bargains from various travel consolidators. GDS, outsider flight APIs, inn APIs – all are utilized by fly out offices to get to the movement bargains on the web.....</p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box7 mb-5">
                    <h6>DTH Recharges</h6>
                    <p>We provide online/Offline DTH recharge service provider. Our DTH service covers the service providers like Tata Sky, Dish TV, Sun Direct, Videocon D2H and Big TV.You can recharge it at the comfort of your home or office Gprs Based Recharge or simple..</p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box8 mb-5">
                    <h6>Data Recharges </h6>
                    <p>We provide online/Offiline Data Recharge services for Airtel, Aircel, BSNL, Idea, Reliance, Videocon, Virgin, Vodafone, MTS, Tata Indicom, Tata Docomo & Uninor.Data card recharging service is another amenity that furthers in the list..</p>
                </div>
            </div>
            <!--Department Box End-->
        </div>
    </div>
</section>
<section class="wf100 p80 h2-local-brands pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title ser-sec">
                    <h2>Our Services</h2>

                </div>
            </div>
        </div>
        <div class="row m5">
            <div class="col-md-9 col-sm-8">
                <div class="row">
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>AEPS</h6>
                            <img src="siteadmin/images/blog/1.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>Money Transfer</h6>
                            <img src="siteadmin/images/blog/5.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>Mobile Recharge</h6>
                            <img src="siteadmin/images/blog/4.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>Bill Payment</h6>
                            <img src="siteadmin/images/blog/3.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>BBPS</h6>
                            <img src="siteadmin/images/blog/2.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>Travel API</h6>
                            <img src="siteadmin/images/blog/6.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->

                </div>
            </div>

            <!--Helplines & Emergency Services Start-->
            <div class="col-md-3 col-sm-4">
                <div class="emergency-info lb">
                    <h5>Service Description</h5>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <!--Panel Start-->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Mobile Recharge </a> </h6>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>We provideSmart India Recharge service in India for the mobile networks like Aircel, Airtel, BSNL - Top Up, BSNL - Validity, Docomo - Special, Docomo - Top Up, Idea, Loop (BPL), MTNL -Top Up, MTNL - Validity, MTS, Reliance - CDMA, Reliance - GSM, Tata Indicom, Uninor - Special, Uninor - Top Up, Virgin - CDMA, Virgin - GSM and Vodafone. Our online recharge service is convenient and fast that facilitateSmart India Recharge of prepaid mobile at competitive prices through internet.</p>
                                </div>
                            </div>
                        </div>
                        <!--Panel End-->
                        <!--Panel Start-->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading2">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2"> Bill Payment </a> </h6>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                    <p>We Are Offering a simple, fast and enjoyable experience for online recharges and payments. If you are ready to do business on internet then you need a good website that will work on internet as your shop.</p>
                                </div>
                            </div>
                        </div>
                        <!--Panel End-->
                        <!--Panel Start-->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading3">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3"> Travel Booking </a> </h6>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                <div class="panel-body">
                                    <p>Air ticket fares every day. Airlines follow a weekly cycle. they have a pricing system for each week. they often offer discounts on some seats on Mondays at midnight; they’re likely to have sales on Tuesdays.</p>
                                </div>
                            </div>
                        </div>
                        <!--Panel End-->
                        <!--Panel Start-->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading4">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4"> DTH Recharges </a> </h6>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                <div class="panel-body">
                                    <p>We provide online/Offline DTH recharge service provider. Our DTH service covers the service providers like Tata Sky, Dish TV, Sun Direct, Videocon D2H and Big TV.You can recharge it at the comfort of your home or office Gprs Based Recharge or simple wright sms based Recharge or online recharge with few clicks of mouse. All you need to have is a computer with internet connection and online recharge of your prepaid DTH account is just few clicks away.</p>
                                </div>
                            </div>
                        </div>
                        <!--Panel End-->
                        <!--Panel Start-->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading5">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5"> Data Recharges </a> </h6>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                <div class="panel-body">
                                    <p>We provide online/Offiline Data Recharge services for Airtel, Aircel, BSNL, Idea, Reliance, Videocon, Virgin, Vodafone, MTS, Tata Indicom, Tata Docomo & Uninor.Data card recharging service is another amenity that furthers in the list of the services provided by us. Through our data card recharge service you can recharge prepaid data card connection easily So, the customers can now enjoy the benefit of anytime and anywhere connectivity via Internet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading6">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6"> Money Transfer </a> </h6>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                <div class="panel-body">
                                    <p>We Are Offering a simple, fast and enjoyable experience for online Money Transfer. If you are ready to do business on internet then you need a good website that will work on internet as your shop.</p>
                                </div>
                            </div>
                        </div>
                        <!--Panel End-->
                    </div>
                </div>
            </div>
            <!--Helplines & Emergency Services End-->

        </div>
    </div>
</section>



@section scripts{
    <script src="~/js/validator.js" asp-append-version="true"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            WebsitePopUp();
        });

        function WebsitePopUp() {
            preloader.load();
            $.post('/WebsitePopup', {}, function (result) {
                if (result != "") {
                    $('#' + an.id).remove();
                    mdlA.id = 'mdlForgetPass';
                    mdlA.content = result;
                    mdlA.options.backdrop = 'static';
                    mdlA.options.keyboard = false;
                    mdlA.alert(mdlA.size.large);
                }
                $('button.close span,#mdlCancel').click(function () {
                    mdlA.dispose();
                });
            }).catch(function () {
                console.clear();
            }).fail(function (xhr) {
                $(_this).attr('checked', Is == false);
                if (xhr.status == 500) {
                    an.title = 'Oops';
                    an.content = 'Server error';
                    an.alert(an.type.failed);
                }
                if (xhr.status == 0) {
                    an.title = 'Oops';
                    an.content = 'Internet Connection was broken';
                    an.alert(an.type.failed);
                }
            }).always(function () {
                preloader.remove();
            });
        }
    </script>
}