@{
    Layout = "_LayoutSiteAdmin";
}
<section class="pagepicture">
    <img src="siteadmin/images/cash-withdrawal.jpg">
</section>

<section id="about-section" class="pt-5 pb-5" style="background: #fff">
    <!-- Begin info box-1 -->
    <div class="info-box-1-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/1.jpg">
                        <div class="info-box-info">
                            <h4>MicroATM</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/2.jpg">
                        <div class="info-box-info">
                            <h4>Gas Booking</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/3.jpg">
                        <div class="info-box-info">
                            <h4>Hotel Booking</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/4.jpg">
                        <div class="info-box-info">
                            <h4>FasTag</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/5.jpg">
                        <div class="info-box-info">
                            <h4>Insurance</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/6.jpg">
                        <div class="info-box-info">
                            <h4>Travel API</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/7.jpg">
                        <div class="info-box-info">
                            <h4>Mobile Rechare</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/8.jpg">
                        <div class="info-box-info">
                            <h4>BBPS</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/9.jpg">
                        <div class="info-box-info">
                            <h4>Pan Card</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/10.jpg">
                        <div class="info-box-info">
                            <h4>AEPS</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/11.jpg">
                        <div class="info-box-info">
                            <h4>Money Tranfer</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/12.jpg">
                        <div class="info-box-info">
                            <h4>Data Card</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/13.jpg">
                        <div class="info-box-info">
                            <h4>DTH Recharge</h4>

                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <img src="siteadmin/images/blog/img/14.jpg">
                        <div class="info-box-info">
                            <h4>Online Bill Payment</h4>

                        </div>
                    </a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <div class="about-bg"></div>
</section>
<section class="wf100 p80 community-links pt-5">
    <div class="container">
        <div class="section-title text-center service-sec">
            <h2>Popular Services</h2>

        </div>
        <div class="row">
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box1 mb-5">
                    <h6>BBPS</h6>
                    <p>Bharat Bill Payment System facilitates the installment of bills and enhances the security and speed of bill pay. The administration is accessible in different installment modes, on the web and through a system of specialists</p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box2 mb-5">
                    <h6>AEPS</h6>
                    <p>
                        Aadhaar Enabled Payment System (AEPS) is a sort of installment framework that depends on the Unique Identification Number and permits Aadhaar card holders to consistently make money related exchanges through Aadhaar-based confirmation.
                    </p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box3 mb-5">
                    <h6>General Insurance</h6>
                    <p>General insurance or non-life insurance policies, including automobile and homeowners policies, provide payments depending on the loss from a particular financial event. General insurance is typically defined as any insurance that is not..</p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box4 mb-5">
                    <h6>Domestic Money Transfer </h6>
                    <p>Domestic Money Transfer (DMT) benefit is an enormous market in India which got much more lift with current increment in advanced exchanges.The most vital part of a Money Transfer framework is a sheltered and secure  application with perfect ongoing...</p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box5 mb-5">
                    <h6>Mobile Recharge </h6>
                    <p>We provideSmart India Recharge service in India for the mobile networks like Aircel, Airtel, BSNL - Top Up, BSNL - Validity, Docomo - Special, Docomo - Top Up, Idea, Loop (BPL), MTNL -Top Up, MTNL - Validity, MTS, Reliance - CDMA, Reliance - GSM,Tata Indicom, Uninor.. </p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box6 mb-5">
                    <h6>Travel Booking </h6>
                    <p>Travel API is fundamentally set of web administrations to get to the movement bargains from various travel consolidators. GDS, outsider flight APIs, inn APIs – all are utilized by fly out offices to get to the movement bargains on the web services ..</p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box7 mb-5">
                    <h6>DTH Recharges</h6>
                    <p>We provide online/Offline DTH recharge service provider. Our DTH service covers the service providers like Tata Sky, Dish TV, Sun Direct, Videocon D2H and Big TV.You can recharge it at the comfort of your home or office Gprs Based Recharge or simple..</p>
                </div>
            </div>
            <!--Department Box End-->
            <!--Department Box Start-->
            <div class="col-md-3 col-sm-6">
                <div class="community-box community-box8 mb-5">
                    <h6>Data Recharges </h6>
                    <p>We provide online/Offiline Data Recharge services for Airtel, Aircel, BSNL, Idea, Reliance, Videocon, Virgin, Vodafone, MTS, Tata Indicom, Tata Docomo & Uninor.Data card recharging service is another amenity that furthers in the list..</p>
                </div>
            </div>
            <!--Department Box End-->
        </div>
    </div>
</section>
<section class="wf100 p80 h2-local-brands pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title ser-sec">
                    <h2>Our Services</h2>

                </div>
            </div>
        </div>
        <div class="row m5">
            <div class="col-md-9 col-sm-8">
                <div class="row">
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>AEPS</h6>
                            <img src="siteadmin/images/blog/1.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>Money Transfer</h6>
                            <img src="siteadmin/images/blog/5.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>Mobile Recharge</h6>
                            <img src="siteadmin/images/blog/4.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>Bill Payment</h6>
                            <img src="siteadmin/images/blog/3.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>BBPS</h6>
                            <img src="siteadmin/images/blog/2.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->
                    <!--Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="lb-box">
                            <h6>Travel API</h6>
                            <img src="siteadmin/images/blog/6.jpg" alt="">
                        </div>
                    </div>
                    <!--End-->

                </div>
            </div>

            <!--Helplines & Emergency Services Start-->
            <div class="col-md-3 col-sm-4">
                <div class="emergency-info lb">
                    <h5>Service Description</h5>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <!--Panel Start-->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Mobile Recharge </a> </h6>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>We provideSmart India Recharge service in India for the mobile networks like Aircel, Airtel, BSNL - Top Up, BSNL - Validity, Docomo - Special, Docomo - Top Up, Idea, Loop (BPL), MTNL -Top Up, MTNL - Validity, MTS, Reliance - CDMA, Reliance - GSM, Tata Indicom, Uninor - Special, Uninor - Top Up, Virgin - CDMA, Virgin - GSM and Vodafone. Our online recharge service is convenient and fast that facilitateSmart India Recharge of prepaid mobile at competitive prices through internet.</p>
                                </div>
                            </div>
                        </div>
                        <!--Panel End-->
                        <!--Panel Start-->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading2">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2"> Bill Payment </a> </h6>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                    <p>We Are Offering a simple, fast and enjoyable experience for online recharges and payments. If you are ready to do business on internet then you need a good website that will work on internet as your shop.</p>
                                </div>
                            </div>
                        </div>
                        <!--Panel End-->
                        <!--Panel Start-->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading3">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3"> Travel Booking </a> </h6>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                <div class="panel-body">
                                    <p>Air ticket fares every day. Airlines follow a weekly cycle. they have a pricing system for each week. they often offer discounts on some seats on Mondays at midnight; they’re likely to have sales on Tuesdays.</p>
                                </div>
                            </div>
                        </div>
                        <!--Panel End-->
                        <!--Panel Start-->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading4">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4"> DTH Recharges </a> </h6>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                <div class="panel-body">
                                    <p>We provide online/Offline DTH recharge service provider. Our DTH service covers the service providers like Tata Sky, Dish TV, Sun Direct, Videocon D2H and Big TV.You can recharge it at the comfort of your home or office Gprs Based Recharge or simple wright sms based Recharge or online recharge with few clicks of mouse. All you need to have is a computer with internet connection and online recharge of your prepaid DTH account is just few clicks away.</p>
                                </div>
                            </div>
                        </div>
                        <!--Panel End-->
                        <!--Panel Start-->
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading5">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5"> Data Recharges </a> </h6>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                <div class="panel-body">
                                    <p>We provide online/Offiline Data Recharge services for Airtel, Aircel, BSNL, Idea, Reliance, Videocon, Virgin, Vodafone, MTS, Tata Indicom, Tata Docomo & Uninor.Data card recharging service is another amenity that furthers in the list of the services provided by us. Through our data card recharge service you can recharge prepaid data card connection easily So, the customers can now enjoy the benefit of anytime and anywhere connectivity via Internet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading6">
                                <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6"> Money Transfer </a> </h6>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                <div class="panel-body">
                                    <p>We Are Offering a simple, fast and enjoyable experience for online Money Transfer. If you are ready to do business on internet then you need a good website that will work on internet as your shop.</p>
                                </div>
                            </div>
                        </div>
                        <!--Panel End-->
                    </div>
                </div>
            </div>
            <!--Helplines & Emergency Services End-->

        </div>
    </div>
</section>