.shortcuts {
    text-align: center;
}

    .shortcuts .shortcut {
        width: 17%;
        display: inline-block;
        padding: 10px 0;
        margin: 0 .9% 1em;
        vertical-align: top;
        text-decoration: none;
        background: #ececec;
        border-radius: 5px;
        text-align: center;
    }

        .shortcuts .shortcut:hover {
            background: #00ba8b;
        }

        .shortcuts .shortcut .shortcut-icon {
            color: #545454;
        }

        .shortcuts .shortcut:hover .shortcut-icon {
            color: #fff;
        }

    .shortcuts .shortcut-label {
        display: block;
        font-weight: 500;
        color: #545454;
    }

        .shortcuts .shortcut-label:hover {
            color: #fff;
        }

@media only screen and (max-width: 523px) and (min-width: 328px) {
    .shortcuts {
        text-align: left;
    }

        .shortcuts .shortcut {
            width: 46%;
        }
}

.PDAx {
    background: #f3f7f8;
    margin: 10px 0;
    font-size: 12px;
    padding: 10px;
}

    .eF0p, .PDAx, .PDAx ._213c ._3l38 ._2ru-, .PDAx ._213c ._3l38 .ss4T {
        float: left;
    }

._3bni, .PDAx {
    width: 100%;
}

    .PDAx ._1sdE {
        padding-right: 4px;
    }

.ss4T {
    float: left;
}

._2ru- {
    float: left;
}

.PDAx ._213c {
    padding: 5px 0 0;
}

    ._1vQK, .PDAx ._213c, .PDAx ._213c ._3l38 {
        overflow: hidden;
    }

        .PDAx ._213c ._3l38 .ss4T {
            color: #222;
            width: 19%;
            padding-top: 5px;
        }

        .PDAx ._213c ._3l38 ._2ru- {
            width: 58%;
            font-weight: 600;
            padding-top: 5px;
            word-wrap: break-word;
        }

.opSelect {
    height: 43px !important;
}

.service-card {
    padding: 0.66rem 1.3rem !important;
}

    .service-card .form-group {
        margin-bottom: 14px !important;
    }

    .service-card .form-control {
        height: 43px !important;
    }

#opImg {
    padding: 0rem 0rem;
    background: transparent;
    border: 0;
}

    #opImg img {
        height: 50px !important;
    }


