@model RoundpayFinTech.AppCode.Model.PopupInfo
<div class="col-md-12">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="text-center"><img class="img-thumbnail" style="width:400px;height:200px" src="@Model.AbsoluteHost/WebPopup.png" alt="logo.png" asp-append-version="true" /></div>
</div>
