html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}
.header-container .header-content .header {
    background: #134e47;
}
.header_main {
    border-top: 1px solid #2b605a;
    border-bottom: 1px solid #2b605a;
}
/*@media (min-width: 1200px){
    .container {
        width: 1200px;
    }
}*/

.container {
    padding: 0 15px;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.wp-header {
    display: table;
    height: 55px;
    width: 100%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0 15px;
    width:auto;
}
.hoteline_header img {
    float: left;
    width: 62px;
}
@media (min-width: 768px), print {
    .block-search {
        float: right;
        /*padding-left: 15px;*/
        position: relative;
        width: 250px;
        z-index: 4;
    }
}

.block-search {
    float: right;
    width: 60%;
    margin-right: 50px;
    position: relative;
    z-index: 9;
    height: 50px;
}
.block {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .col-md-2 {
        width: 16.66666667%;
    }
}
.header-control {
    background: #134e47;
    min-height: 40px;
}
.cms-index-index .header-control {
    margin-bottom: 0;
}

.navbar {
    padding:0!important;
}

.navbar .navbar-nav li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: 500;
    padding: 0 12px;
    line-height: 40px;
    font-size: 16px;
    font-family: 'Rubik',sans-serif;
    background: 0 0;
}

    .navbar .navbar-nav li a:hover {
         color: #ff9300;
    }

.dropdown-menu a {
    color:#000!important;
        line-height: 40px!important;
}
