
<div class="col-md-12">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3>Transfer To Bank</h3>
    <div class="form-group">
        <label class="lbl" for="ddlStatus">Approval Status</label>
        <select class="form-control" id="ddlStatus">
            <option value="0">::Select Option::</option>
            <option value="2">Approve</option>
            <option value="3">Reject</option>
        </select>
    </div>
    <div class="form-group">
        <label class="lbl" for="txtRemark">Remark</label>
        <input class="form-control" id="txtRemark" name="txtRemark" placeholder="Enter Remark" tabindex="1" type="text">
    </div>
    <button class="btn btn-outline-dark" id="bT">Submit</button>
    <button class="btn btn-dark" id="mdlCancel">Cancel</button>
</div>