<div class="col-md-12">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3>Change Role</h3>
    <div class="form-group">
        <h3><span id="spnNam" class="text-uppercase"></span></h3>
        <h3><span id="spnMob" class="text-monospace"></span></h3>
        <span id="spnUserId" style="display:none"></span>
    </div>
    <div class="form-group">
        <label class="lbl" for="ddlChangeRole"></label>
        <select id="ddlChangeRole" aria-describedby="ddlRoleHelp"  class="custom-select custom-select-md mb3" ></select>
        <small id="ddlRoleHelp" class="form-text text-muted d-none">Choose Any Slab</small>
    </div>
    <button class="btn btn-outline-dark" id="btnChange">Change</button>
    <button class="btn btn-dark" id="mdlCancel">Cancel</button>
</div>
