@model IEnumerable<RoundpayFinTech.AppCode.Model.ProcModel.ApiListModel>
<div class="col-md-12">
    @*<button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>*@
    <h5 class="text-info">IMPORT EXCEL</h5>
    <hr />
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group" id="dvAPI">
                    @{
                        var list = new SelectList(Model, "Id", "Name");
                    }
                    <label class="lbl" for="ddlApiName">Choose Vendor Api</label>
                    <select aria-describedby="txtApi" class="form-control" id="ddlApi1" tabindex="4" asp-items="@list">
                        <option value="0"> :: Select Vendor :: </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <input type="file" id="fUpload" name="files" class="form-control" style="display:none" />
                <label for="fUpload" class="btn btn-outline-success">
                    <span class="fa fa-file-excel"></span> Import Excel
                </label>
                <a class="btn btn-outline-info" href="@Url.Action("CouponVocher-Tamplate", "Admin")" target="_blank" )"><span class="fas fa-download"></span> Download Tamplate Excel</a>
            </div>
        </div>
    </form>
</div>


<script>
    $(document).ready(function () {
        $('#fUpload').on('change', function () {

            if ($('#fUpload').val() != "" && $('#fUpload') != undefined) {
                var fileExtension = ['xls', 'xlsx'];
                var filename = $('#fUpload').val();
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    an.title = 'Validation Warning';
                    an.content = "Please select only excel files.";
                    an.alert(an.type.failed);
                    $('#fUpload').val('');
                    return false;
                }
                var formData = new FormData();
                var id = 0;
                id = $('#VoucherID').val();
                var APIID = $('#ddlApi1').val();
                formData.append('file', $("#fUpload")[0].files[0]);
                formData.append('VocherID', id);
                formData.append('APIID', APIID);
                $.ajax({
                    type: "POST",
                    url: "/CouponVocherUpload",
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (result) {
                        if (result.statuscode === -1) {
                            an.title = 'Oops';
                            an.content = result.msg;
                            an.alert(an.type.failed);
                           
                        } else {
                            an.title = 'Success';
                            an.content = result.msg;
                            an.alert(an.type.success);
                            $('#fUpload').val('');
                            $('#ddlAPI').val('')
                            mdlA.dispose();
                            partialGrid(id);
                        }
                    },
                    statusCode: {
                        500: function () {
                            an.title = 'Oops';
                            an.content = 'Server error';
                            an.alert(an.type.failed);
                        },
                        0: function () {
                            an.title = 'Oops';
                            an.content = 'Internet Connection was broken';
                            an.alert(an.type.failed);
                        }
                    },
                    error: function (result) {
                        checkError(result);
                        an.title = 'Oops';
                        an.content = 'An error occured!';
                        an.alert(an.type.failed);
                    },
                    complete: function () {
                        preloader.remove();
                    }
                });
            }
        })
        $('.close').on('click', function () {
            mdlA.dispose();
        })
    });
</script>