@model IEnumerable<BannerImage>
@{ var counter = 1;}

@foreach (var item in Model)
{


    <tr id="_22">
        <td>@counter</td>
        <td class="text-center "><button class="btn btn-danger" id="@item.FileName">Remove</button></td>
        <td><div class="text-center"><img class="img-thumbnail" style="width:400px;height:200px" src="@item.ResourceUrl" alt="@item.FileName" /></div></td>
    </tr>


    counter = counter + 1;
}




