
@model IEnumerable<RoundpayFinTech.AppCode.Model.SlabRangeDetail>

@{
    var couter = 1;
}
<div class="row">
    <div class="col-sm-12">
    </div>
    <div class="col-sm-12 table-responsive">
        @if (Model.Any())
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                            <th>Operaror</th>
                            <th>Range</th>
                             <th>Surcharge</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr data-Item-OID="">
                        <td>@item.Operator</td>
                        <td>@(item.MinRange + "-" + item.MaxRange)</td>
                        <td class="text-center">
                            <div class="row">
                                <div class="col-md text-left">
                                    <span class="text-monospace text-nowrap"> @Html.Raw((item.CommType ? "SUR " : "COM ") + item.Comm + (item.AmtType ? "(<i class='fas fa-rupee-sign text-success'></i>)" : "(%)"))</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                        couter = couter + 1;
                    }
                </tbody>
            </table>
        }
        else
        {
            <table class="table table-bordered">
                <tr>
                    <td class="text-center">
                        <center>No Record Found</center>
                    </td>
                </tr>
            </table>

        }
    </div>
</div>