.top-navbar {
    box-shadow: none;
    border-bottom: 1px solid #585858;
    margin-bottom: 0;
    min-height: 48px;
    padding: 0 15px 0 0;
    display: flex;
    background: #2b2b2b;
}
.bg-greenhead {
    background: linear-gradient( 85deg,#393877,#36356f);
}
.main-wrapper .breadcrumb {
    background: #5756a7 !important;
    padding: 6px 0;
    border-radius: 0;
    color: #fff;
}
.bg-gradientorange {
    background: linear-gradient( 85deg,#ce508d,#b5426d);
}
