.scroll-content {
    position: relative;
    max-height: 550px;
    margin-top: .5rem;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

@media only screen and (max-width: 600px) {
    .mob-scroll {
        overflow-x:scroll!important;
    }
}
    /* width */
    .scroll-content::-webkit-scrollbar {
        width: 0.4em;
    }

    /* Track */
    .scroll-content::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        /*border-radius: 10px;*/
    }

    /* Handle */
    .scroll-content::-webkit-scrollbar-thumb {
        background: #ced4da;
        /*border-radius: 10px;*/
    }

        /* Handle on hover */
        .scroll-content::-webkit-scrollbar-thumb:hover {
            background: #343a40;
        }


/* width */
::-webkit-scrollbar {
    width: 0.9em;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    /*border-radius: 0.5em;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #959A9F;
    /*border-radius: 0.9em;*/
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #343a40;
    }